
"""

CREATE VARIABLES 
- Create Variables for Trainer Name
    All of the ones including average length behind etc

HOW (v1) ? 
- Bring the dataset at the Trainer + Race level - whatever I can 
    - - This automatically brings the dataste to a Trainer + Grade level, as Grade is a property of the Race
    - - Such as the number of dogs in prev race, 
    - - Min, Max, Average of the runtime, distance, position

OR 

HOW (v2) ? 
- Trainer + Race + Dognumber dataset
    - - Grab all in 1 and then run the code
    - - Grab all the races with multiple races, rename 2 as 1 and 1 as 2. Run the code
    - - Do step 2 with races with 3 or more dogs from the same trainer 
    - - Add the given variables 
    - - Append all datasets

"""


# Import the code

In [1]:

#fileloc  = '/mnt/batch/tasks/shared/LS_root/mounts/clusters/compute-one/code/Users/karan.bhatti'
fileloc  = '/mnt/batch/tasks/shared/LS_root/mounts/clusters/compute-one-8c-32gb/code/Users/karan.bhatti/Dataprep'

import sys
print(sys.path)
print()
#sys.path.append(f'{fileloc}')
print()
#print(sys.path)

['/mnt/batch/tasks/shared/LS_root/mounts/clusters/compute-one-8c-32gb/code/Users/karan.bhatti/Code', '/anaconda/envs/azureml_py38/lib/python38.zip', '/anaconda/envs/azureml_py38/lib/python3.8', '/anaconda/envs/azureml_py38/lib/python3.8/lib-dynload', '', '/anaconda/envs/azureml_py38/lib/python3.8/site-packages', '/anaconda/envs/azureml_py38/lib/python3.8/site-packages/azureml/_project/vendor', '/anaconda/envs/azureml_py38/lib/python3.8/site-packages/azureml/automl/core/_vendor']

In [2]:

class Data(object):
    pass

df = Data
summ = Data

In [3]:
import helpdesk as hd

In [5]:

import pandas as pd, numpy as np
from datetime import datetime

In [6]:
DEBUG = True

In [7]:
pd.set_option('display.max_rows', 50)

In [8]:
pd.set_option('display.max_columns', 50)

## IMPORTING THE RAW BASE

In [9]:

df.ft_raw = pd.read_csv(f'{fileloc}/raw_base_2023-06-05.csv', parse_dates = True)

print(df.ft_raw.shape)
print(df.ft_raw.columns.values.tolist())

(725080, 33)
['@id_DOG', 'Place', 'DogName', 'Box', 'Rug', 'Weight', 'StartPrice', 'Handicap', 'Margin1', 'Margin2', 'PIR', 'Checks', 'Comments', 'SplitMargin', 'y_runtime', 'Prizemoney', 'RaceId', 'TrainerId', 'TrainerName', '@id_RACE', 'RaceNum', 'RaceName', 'RaceTime', 'Distance', 'RaceGrade', 'Track', 'date', 'Event_Dt', 'ft_sp', 'x_num_dogs', 'position', 'y_margin', 'y_pos']

In [10]:

df_base_sp = df.ft_raw.copy()

In [11]:

print(df_base_sp.columns.values.tolist())

['@id_DOG', 'Place', 'DogName', 'Box', 'Rug', 'Weight', 'StartPrice', 'Handicap', 'Margin1', 'Margin2', 'PIR', 'Checks', 'Comments', 'SplitMargin', 'y_runtime', 'Prizemoney', 'RaceId', 'TrainerId', 'TrainerName', '@id_RACE', 'RaceNum', 'RaceName', 'RaceTime', 'Distance', 'RaceGrade', 'Track', 'date', 'Event_Dt', 'ft_sp', 'x_num_dogs', 'position', 'y_margin', 'y_pos']

In [12]:

df_base_sp.head()

,@id_DOG,Place,DogName,Box,Rug,Weight,StartPrice,Handicap,Margin1,Margin2,PIR,Checks,Comments,SplitMargin,y_runtime,Prizemoney,RaceId,TrainerId,TrainerName,@id_RACE,RaceNum,RaceName,RaceTime,Distance,RaceGrade,Track,date,Event_Dt,ft_sp,x_num_dogs,position,y_margin,y_pos
0,108390981,4,DOLLY DOES IT,5.0,5,30.4,$11.00,NaN,6.00,0.14,0,0,B3,NaN,26.43,80.0,626271182,92892,M Elphinstone,626271182,10,GREAT NORTHERN,03:14PM,452m,Mixed 4/5,Devonport,05 Jan 21,2021-01-05,11.0,8,4,6.00,4
1,108390981,5,DOLLY DOES IT,4.0,4,30.2,$7.00,NaN,6.00,1.14,0,0,NaN,NaN,26.40,0.0,629797242,92892,M Elphinstone,629797242,10,GREAT NORTHERN,03:09PM,452m,Grade 5,Devonport,12 Jan 21,2021-01-12,7.0,7,5,6.00,5
2,108390981,1,DOLLY DOES IT,5.0,5,30.2,$7.00,NaN,5.25,NaN,0,0,NaN,8.1,26.20,1890.0,629797513,92892,M Elphinstone,629797513,4,SUREPICK,01:27PM,452m,Grade 5,Devonport,19 Jan 21,2021-01-19,7.0,7,1,5.25,1
3,108390981,7,DOLLY DOES IT,1.0,1,30.0,$7.00,NaN,10.50,2.00,0,0,NaN,NaN,26.48,0.0,638810808,92892,M Elphinstone,638810808,8,LADBROKES,02:22PM,452m,Mixed 4/5 Heat,Devonport,16 Feb 21,2021-02-16,7.0,8,7,10.50,7
4,108390981,8,DOLLY DOES IT,8.0,8,29.9,$91.00,NaN,18.50,3.57,0,0,SO,NaN,26.91,0.0,643554706,92892,M Elphinstone,643554706,8,NEW RECRUIT 2012,02:22PM,452m,Grade 4,Devonport,02 Mar 21,2021-03-02,91.0,8,8,18.50,8

In [13]:

len(df_base_sp.TrainerId.unique().tolist())

4016

In [14]:

df_base_sp.describe()

,@id_DOG,Box,Rug,Weight,Handicap,Margin1,Margin2,Checks,SplitMargin,y_runtime,Prizemoney,RaceId,TrainerId,@id_RACE,RaceNum,ft_sp,x_num_dogs,position,y_margin,y_pos
count,7.250800e+05,725080.000000,725080.000000,725079.000000,0.0,725080.000000,624468.000000,725080.000000,605308.000000,725080.000000,498861.000000,7.250800e+05,725080.000000,7.250800e+05,725080.000000,725080.000000,725080.000000,725080.000000,725080.000000,725080.000000
mean,4.866356e+08,4.477743,4.584582,29.935174,NaN,6.483733,2.071076,0.426676,7.265410,24.363969,441.621810,7.640069e+08,111702.449377,7.640069e+08,6.173288,17.092809,7.347380,4.171696,6.396170,4.171696
std,1.219313e+08,2.343451,2.431397,3.312836,NaN,8.260129,7.241565,1.439907,2.526565,4.941794,2912.322446,7.786416e+07,78747.029834,7.786416e+07,3.287968,21.284010,0.890034,2.163317,4.794569,2.163317
min,1.083910e+08,1.000000,1.000000,18.700000,NaN,0.000000,0.000000,0.000000,0.000000,10.000000,0.000000,6.238619e+08,6418.000000,6.238619e+08,1.000000,0.260000,5.000000,1.000000,0.000000,1.000000
25%,4.159944e+08,2.000000,2.000000,27.200000,NaN,2.530000,0.570000,0.000000,5.500000,20.520000,0.000000,6.985139e+08,65438.000000,6.985139e+08,3.000000,4.200000,7.000000,2.000000,2.530000,2.000000
50%,4.791464e+08,4.000000,4.000000,29.900000,NaN,5.500000,1.410000,0.000000,6.780000,23.490000,65.000000,7.654781e+08,99808.000000,7.654781e+08,6.000000,8.700000,8.000000,4.000000,5.500000,4.000000
75%,5.620734e+08,7.000000,7.000000,32.500000,NaN,9.140000,2.700000,0.000000,8.750000,26.990000,425.000000,8.292900e+08,125087.000000,8.292900e+08,9.000000,21.000000,8.000000,6.000000,9.140000,6.000000
max,2.145360e+09,8.000000,10.000000,55.000000,NaN,5229.500000,5100.140000,25.000000,30.660000,396.120000,1000000.000000,8.978632e+08,337600.000000,8.978632e+08,20.000000,999.990000,8.000000,8.000000,27.000000,8.000000

### B) Create Variable for Speed Profile

In [15]:

# Sort for Easy QC
#df_base_sp.sort_values(by = ['@id_DOG', 'DogName', 'Event_Dt'], inplace = True)
df_base_sp.sort_values(by = ['TrainerId', '@id_RACE', 'Event_Dt'], inplace = True)

In [16]:

df_base_sp[df_base_sp['TrainerId'].isin([92892])].head()

,@id_DOG,Place,DogName,Box,Rug,Weight,StartPrice,Handicap,Margin1,Margin2,PIR,Checks,Comments,SplitMargin,y_runtime,Prizemoney,RaceId,TrainerId,TrainerName,@id_RACE,RaceNum,RaceName,RaceTime,Distance,RaceGrade,Track,date,Event_Dt,ft_sp,x_num_dogs,position,y_margin,y_pos
0,108390981,4,DOLLY DOES IT,5.0,5,30.4,$11.00,NaN,6.00,0.14,0,0,B3,NaN,26.43,80.0,626271182,92892,M Elphinstone,626271182,10,GREAT NORTHERN,03:14PM,452m,Mixed 4/5,Devonport,05 Jan 21,2021-01-05,11.0,8,4,6.00,4
1,108390981,5,DOLLY DOES IT,4.0,4,30.2,$7.00,NaN,6.00,1.14,0,0,NaN,NaN,26.40,0.0,629797242,92892,M Elphinstone,629797242,10,GREAT NORTHERN,03:09PM,452m,Grade 5,Devonport,12 Jan 21,2021-01-12,7.0,7,5,6.00,5
2,108390981,1,DOLLY DOES IT,5.0,5,30.2,$7.00,NaN,5.25,NaN,0,0,NaN,8.1,26.20,1890.0,629797513,92892,M Elphinstone,629797513,4,SUREPICK,01:27PM,452m,Grade 5,Devonport,19 Jan 21,2021-01-19,7.0,7,1,5.25,1
3,108390981,7,DOLLY DOES IT,1.0,1,30.0,$7.00,NaN,10.50,2.00,0,0,NaN,NaN,26.48,0.0,638810808,92892,M Elphinstone,638810808,8,LADBROKES,02:22PM,452m,Mixed 4/5 Heat,Devonport,16 Feb 21,2021-02-16,7.0,8,7,10.50,7
4,108390981,8,DOLLY DOES IT,8.0,8,29.9,$91.00,NaN,18.50,3.57,0,0,SO,NaN,26.91,0.0,643554706,92892,M Elphinstone,643554706,8,NEW RECRUIT 2012,02:22PM,452m,Grade 4,Devonport,02 Mar 21,2021-03-02,91.0,8,8,18.50,8

In [17]:

# ADDITIONAL VARIABLES
vtrnr = ['TrainerId']
vrace = ['@id_RACE']
vevnt = ['Event_Dt']

# Distance and Speed in each race
#df_base_sp['x_dist'] = df_base_sp['Distance'].apply(lambda x : x.replace('m','')).astype(int)
df_base_sp['x_dist'] = df_base_sp['Distance'].str.replace('m','').astype(int)
df_base_sp['speed'] = (df_base_sp['x_dist'] / df_base_sp['y_runtime'])*1000

# Flag for getting a total race count
df_base_sp['f_1'] = 1

# Total Races
df_base_sp['x_dograced_tot'] = df_base_sp.groupby(vtrnr).cumcount()

In [18]:

#df_base_sp.loc[:,"trnr_wins"] = df_base_sp['y_pos'].apply(lambda x : 1 if x == '1' else 0 )
df_base_sp.loc[:,"trnr_wins"] = df_base_sp['y_pos'].eq('1').astype(int)


#df_base_sp['x_dograced_tot']

In [19]:

#df_base_sp.loc[:,"trnr_fin_plc"] = df_base_sp.apply(lambda x : 1 if (x.position in [1,2,3]) & (x.x_num_dogs >=8) \
#else 1 if (x.position in [1,2]) & (x.x_num_dogs >= 5) \
#else 0 if (x.x_num_dogs < 5) \
#else 0, axis = 1)

conditions = [
    ((df_base_sp['position'].isin([1,2,3])) & (df_base_sp['x_num_dogs'] >= 8)), 
    ((df_base_sp['position'].isin([1,2])) & (df_base_sp['x_num_dogs'] >= 5)), 
    (df_base_sp['x_num_dogs'] < 5)
]

choices = [1, 1, 0]

df_base_sp['trnr_fin_plc'] = np.select(conditions, choices, default=0)

In [20]:

#df_base_sp.loc[:,"trnr_fin_t2"] = df_base_sp['position'].apply(lambda x : 1 if x in [1,2] else 0 )
df_base_sp['trnr_fin_t2'] = df_base_sp['position'].isin([1, 2]).astype(int)

In [21]:

#df_base_sp.loc[:,"trnr_fin_last"] = df_base_sp.apply(lambda x : 1 if x.y_pos == x.x_num_dogs else 0 , axis = 1)
df_base_sp["trnr_fin_last"] = (df_base_sp['y_pos'] == df_base_sp['x_num_dogs']).astype(int)

In [22]:

#df_base_sp.loc[:,"trnr_fin_last2"] = df_base_sp.apply(lambda x : 1 if (x.position == x.x_num_dogs) | (x.position == x.x_num_dogs - 1) else 0 , axis = 1)
df_base_sp['trnr_fin_last2'] = ((df_base_sp['position'] == df_base_sp['x_num_dogs']) | 
                                (df_base_sp['position'] == df_base_sp['x_num_dogs'] - 1)).astype(int)

In [23]:

print(df_base_sp.columns.values.tolist())

['@id_DOG', 'Place', 'DogName', 'Box', 'Rug', 'Weight', 'StartPrice', 'Handicap', 'Margin1', 'Margin2', 'PIR', 'Checks', 'Comments', 'SplitMargin', 'y_runtime', 'Prizemoney', 'RaceId', 'TrainerId', 'TrainerName', '@id_RACE', 'RaceNum', 'RaceName', 'RaceTime', 'Distance', 'RaceGrade', 'Track', 'date', 'Event_Dt', 'ft_sp', 'x_num_dogs', 'position', 'y_margin', 'y_pos', 'x_dist', 'speed', 'f_1', 'x_dograced_tot', 'trnr_wins', 'trnr_fin_plc', 'trnr_fin_t2', 'trnr_fin_last', 'trnr_fin_last2']

In [25]:

agg_dict = {
    '@id_DOG': 'nunique',
    'trnr_wins': 'sum',
    'trnr_fin_plc': 'sum',
    'trnr_fin_t2': 'sum',
    'trnr_fin_last': 'sum',
    'trnr_fin_last2': 'sum'
}

#df_base_trnr = df_base_sp.groupby(vtrnr + vrace + vevnt).agg( {'@id_DOG':'nunique', 'trnr_wins':'sum', 'trnr_fin_plc':'sum', 'trnr_fin_t2':'sum', 'trnr_fin_last':'sum', 'trnr_fin_last2':'sum'} ).reset_index().rename(columns = {'@id_DOG':'trnr_num_dogs'})
df_base_trnr = df_base_sp.groupby(vtrnr + vrace + vevnt).agg(agg_dict).reset_index().rename(columns={'@id_DOG': 'trnr_num_dogs'})

print(type(df_base_trnr))
print(df_base_trnr.columns.values.tolist())

<class 'pandas.core.frame.DataFrame'>
['TrainerId', '@id_RACE', 'Event_Dt', 'trnr_num_dogs', 'trnr_wins', 'trnr_fin_plc', 'trnr_fin_t2', 'trnr_fin_last', 'trnr_fin_last2']

In [26]:
print(df_base_trnr.shape)

(661072, 9)

In [27]:

print( len(df_base_trnr['@id_RACE'].unique().tolist()) )

100422

In [28]:

qc_rowcounts = df_base_trnr.groupby('trnr_num_dogs', dropna = False).agg({'@id_RACE':'count'}).reset_index().rename(columns = {'@id_RACE':'trnr_races'})

In [29]:

qc_rowcounts.head()

   trnr_num_dogs  trnr_races
0              1      607570
1              2       45450
2              3        6251
3              4        1324
4              5         340

In [30]:

df_base_trnr.sort_values(by = ['TrainerId','Event_Dt','@id_RACE'], inplace = True)

print(datetime.now())

2023-06-07 13:17:33.550065

In [31]:

df_base_trnr['trnr_xr_races_tot'] = df_base_trnr.groupby(vtrnr).cumcount()

In [32]:

df_base_trnr['trnr_xr_dogsraced_tot'] = df_base_trnr.groupby(vtrnr)['trnr_num_dogs'].cumsum()

In [33]:

df_base_trnr[df_base_trnr.TrainerId.isin([6418])].tail(25)

,TrainerId,@id_RACE,Event_Dt,trnr_num_dogs,trnr_wins,trnr_fin_plc,trnr_fin_t2,trnr_fin_last,trnr_fin_last2,trnr_xr_races_tot,trnr_xr_dogsraced_tot
263,6418,852694989,2022-12-09,1,0,0,0,0,0,263,277
264,6418,853569737,2022-12-11,1,0,1,1,0,0,264,278
265,6418,853569738,2022-12-11,1,0,0,0,0,0,265,279
266,6418,853645888,2022-12-12,1,0,0,0,0,0,266,280
267,6418,853645891,2022-12-12,1,0,1,0,0,0,267,281
268,6418,853983127,2022-12-15,1,0,0,0,0,0,268,282
269,6418,856008600,2022-12-16,1,0,0,0,1,1,269,283
270,6418,856008601,2022-12-16,1,0,0,0,0,0,270,284
271,6418,857094861,2022-12-26,1,0,0,0,0,0,271,285
272,6418,859994059,2022-12-30,1,0,1,1,0,0,272,286
273,6418,859994060,2022-12-30,1,0,1,1,0,0,273,287
274,6418,860737546,2023-01-02,1,0,0,0,0,0,274,288
275,6418,864203959,2023-01-15,1,0,0,0,1,1,275,289
276,6418,864203961,2023-01-15,1,0,0,0,0,0,276,290
277,6418,866022096,2023-01-21,1,0,1,0,0,0,277,291
278,6418,870186416,2023-02-05,1,0,0,0,0,0,278,292
279,6418,870186419,2023-02-05,1,0,1,1,0,0,279,293
280,6418,877302117,2023-03-02,2,0,2,1,0,0,280,295
281,6418,878043100,2023-03-05,1,0,0,0,0,0,281,296
282,6418,880555596,2023-03-12,1,0,1,0,0,0,282,297
283,6418,880555604,2023-03-12,1,0,1,1,0,0,283,298
284,6418,880555607,2023-03-12,1,0,0,0,0,1,284,299
285,6418,882315117,2023-03-18,1,0,0,0,0,0,285,300
286,6418,882315118,2023-03-18,1,0,0,0,1,1,286,301
287,6418,886789048,2023-04-02,1,0,0,0,0,0,287,302

In [34]:

df_base_trnr.loc[:,"trnr_xr_races_tot_prev"] = df_base_trnr.groupby(vtrnr)['trnr_xr_races_tot'].shift(1)
df_base_trnr["trnr_xr_races_tot_prev"].fillna(1, inplace = True)

df_base_trnr.loc[:,"trnr_xr_dogsraced_tot_prev"] = df_base_trnr.groupby(vtrnr)['trnr_xr_dogsraced_tot'].shift(1)
df_base_trnr["trnr_xr_dogsraced_tot_prev"].fillna(1, inplace = True)


df_base_trnr.loc[:,"trnr_wins_prev"] = df_base_trnr.groupby(vtrnr)['trnr_wins'].shift(1)
df_base_trnr["trnr_wins_prev"].fillna(0, inplace = True)

df_base_trnr.loc[:,"trnr_fin_plc_prev"] = df_base_trnr.groupby(vtrnr)['trnr_fin_plc'].shift(1)
df_base_trnr["trnr_fin_plc_prev"].fillna(0, inplace = True)
df_base_trnr.loc[:,"trnr_fin_t2_prev"] = df_base_trnr.groupby(vtrnr)['trnr_fin_t2'].shift(1)
df_base_trnr["trnr_fin_t2_prev"].fillna(0, inplace = True)

df_base_trnr.loc[:,"trnr_fin_last_prev"] = df_base_trnr.groupby(vtrnr)['trnr_fin_last'].shift(1)
df_base_trnr["trnr_fin_last_prev"].fillna(0, inplace = True)
df_base_trnr.loc[:,"trnr_fin_last2_prev"] = df_base_trnr.groupby(vtrnr)['trnr_fin_last2'].shift(1)
df_base_trnr["trnr_fin_last2_prev"].fillna(0, inplace = True)

print(datetime.now())

2023-06-07 13:17:58.115808

In [35]:

df_base_trnr.loc[:,"trnr_xr_wins"] = df_base_trnr.groupby(vtrnr)['trnr_wins_prev'].rolling(window=999, min_periods = 1).sum().reset_index(0,drop=True)
df_base_trnr.loc[:,"trnr_xr_fin_plc"] = df_base_trnr.groupby(vtrnr)['trnr_fin_plc_prev'].rolling(window=999, min_periods = 1).sum().reset_index(0,drop=True)
df_base_trnr.loc[:,"trnr_xr_fin_t2"] = df_base_trnr.groupby(vtrnr)['trnr_fin_t2_prev'].rolling(window=999, min_periods = 1).sum().reset_index(0,drop=True)
df_base_trnr.loc[:,"trnr_xr_fin_last"] = df_base_trnr.groupby(vtrnr)['trnr_fin_last_prev'].rolling(window=999, min_periods = 1).sum().reset_index(0,drop=True)
df_base_trnr.loc[:,"trnr_xr_fin_last2"] = df_base_trnr.groupby(vtrnr)['trnr_fin_last2_prev'].rolling(window=999, min_periods = 1).sum().reset_index(0,drop=True)

df_base_trnr['trnr_xr_wins'].fillna(0, inplace = True)
df_base_trnr['trnr_xr_fin_plc'].fillna(0, inplace = True)
df_base_trnr['trnr_xr_fin_t2'].fillna(0, inplace = True)
df_base_trnr['trnr_xr_fin_last'].fillna(0, inplace = True)
df_base_trnr['trnr_xr_fin_last2'].fillna(0, inplace = True)

print(datetime.now())

2023-06-07 13:18:28.905124

In [36]:

df_base_trnr.loc[:,"trnr_xrl5_wins"] = df_base_trnr.groupby(vtrnr)['trnr_wins_prev'].rolling(window=5, min_periods = 1).sum().reset_index(0,drop=True)
df_base_trnr.loc[:,"trnr_xrl5_fin_plc"] = df_base_trnr.groupby(vtrnr)['trnr_fin_plc_prev'].rolling(window=5, min_periods = 1).sum().reset_index(0,drop=True)
df_base_trnr.loc[:,"trnr_xrl5_fin_t2"] = df_base_trnr.groupby(vtrnr)['trnr_fin_t2_prev'].rolling(window=5, min_periods = 1).sum().reset_index(0,drop=True)
df_base_trnr.loc[:,"trnr_xrl5_fin_last"] = df_base_trnr.groupby(vtrnr)['trnr_fin_last_prev'].rolling(window=5, min_periods = 1).sum().reset_index(0,drop=True)
df_base_trnr.loc[:,"trnr_xrl5_fin_last2"] = df_base_trnr.groupby(vtrnr)['trnr_fin_last2_prev'].rolling(window=5, min_periods = 1).sum().reset_index(0,drop=True)

df_base_trnr['trnr_xrl5_wins'].fillna(0, inplace = True)
df_base_trnr['trnr_xrl5_fin_plc'].fillna(0, inplace = True)
df_base_trnr['trnr_xrl5_fin_t2'].fillna(0, inplace = True)
df_base_trnr['trnr_xrl5_fin_last'].fillna(0, inplace = True)
df_base_trnr['trnr_xrl5_fin_last2'].fillna(0, inplace = True)

print(datetime.now())

2023-06-07 13:18:36.179063

In [37]:

# Divide by Total Races
df_base_trnr.loc[:,"trnr_xr_wins_pct"] = df_base_trnr['trnr_xr_wins'] / df_base_trnr['trnr_xr_races_tot_prev']
df_base_trnr['trnr_xr_wins_pct'].fillna(0, inplace = True)

# Divide by Total Dogs
df_base_trnr.loc[:,"trnr_xr_fin_t2_pct"] = df_base_trnr['trnr_xr_fin_t2'] / df_base_trnr['trnr_xr_dogsraced_tot_prev']
df_base_trnr['trnr_xr_fin_t2_pct'].fillna(0, inplace = True)

df_base_trnr.loc[:,"trnr_xr_fin_plc_pct"] = df_base_trnr['trnr_xr_fin_plc'] / df_base_trnr['trnr_xr_dogsraced_tot_prev']
df_base_trnr['trnr_xr_fin_plc_pct'].fillna(0, inplace = True)


# Divide by Total Races
df_base_trnr.loc[:,"trnr_xr_fin_last_pct"] = df_base_trnr['trnr_xr_fin_last'] / df_base_trnr['trnr_xr_races_tot_prev']
df_base_trnr['trnr_xr_fin_last_pct'].fillna(0, inplace = True)

# Divide by Total Dogs
df_base_trnr.loc[:,"trnr_xr_fin_last2_pct"] = df_base_trnr['trnr_xr_fin_last2'] / df_base_trnr['trnr_xr_dogsraced_tot_prev']
df_base_trnr['trnr_xr_fin_last2_pct'].fillna(0, inplace = True)

print(datetime.now())

2023-06-07 13:19:59.539142

In [38]:
print(df_base_trnr.shape)

(661072, 33)

In [39]:

print(pd.DataFrame(df_base_sp.dtypes).transpose())

  @id_DOG   Place DogName      Box    Rug   Weight StartPrice Handicap  \
0   int64  object  object  float64  int64  float64     object  float64

   Margin1  Margin2     PIR Checks Comments SplitMargin y_runtime Prizemoney  \
0  float64  float64  object  int64   object     float64   float64    float64

  RaceId TrainerId TrainerName @id_RACE RaceNum RaceName RaceTime Distance  \
0  int64     int64      object    int64   int64   object   object   object

  RaceGrade   Track    date Event_Dt    ft_sp x_num_dogs position y_margin  \
0    object  object  object   object  float64      int64    int64  float64

   y_pos x_dist    speed    f_1 x_dograced_tot trnr_wins trnr_fin_plc  \
0  int64  int64  float64  int64          int64     int64        int64

  trnr_fin_t2 trnr_fin_last trnr_fin_last2
0       int64         int64          int64

In [40]:

print(pd.DataFrame(df_base_trnr.isna().sum()).transpose())

   TrainerId  @id_RACE  Event_Dt  trnr_num_dogs  trnr_wins  trnr_fin_plc  \
0          0         0         0              0          0             0

   trnr_fin_t2  trnr_fin_last  trnr_fin_last2  trnr_xr_races_tot  \
0            0              0               0                  0

   trnr_xr_dogsraced_tot  trnr_xr_races_tot_prev  trnr_xr_dogsraced_tot_prev  \
0                      0                       0                           0

   trnr_wins_prev  trnr_fin_plc_prev  trnr_fin_t2_prev  trnr_fin_last_prev  \
0               0                  0                 0                   0

   trnr_fin_last2_prev  trnr_xr_wins  trnr_xr_fin_plc  trnr_xr_fin_t2  \
0                    0             0                0               0

   trnr_xr_fin_last  trnr_xr_fin_last2  trnr_xrl5_wins  trnr_xrl5_fin_plc  \
0                 0                  0               0                  0

   trnr_xrl5_fin_t2  trnr_xrl5_fin_last  trnr_xrl5_fin_last2  \
0                 0                   0                    0

   trnr_xr_wins_pct  trnr_xr_fin_t2_pct  trnr_xr_fin_plc_pct  \
0                 0                   0                    0

   trnr_xr_fin_last_pct  trnr_xr_fin_last2_pct
0                     0                      0

In [41]:

df_base_trnr.describe()

,TrainerId,@id_RACE,trnr_num_dogs,trnr_wins,trnr_fin_plc,trnr_fin_t2,trnr_fin_last,trnr_fin_last2,trnr_xr_races_tot,trnr_xr_dogsraced_tot,trnr_xr_races_tot_prev,trnr_xr_dogsraced_tot_prev,trnr_wins_prev,trnr_fin_plc_prev,trnr_fin_t2_prev,trnr_fin_last_prev,trnr_fin_last2_prev,trnr_xr_wins,trnr_xr_fin_plc,trnr_xr_fin_t2,trnr_xr_fin_last,trnr_xr_fin_last2,trnr_xrl5_wins,trnr_xrl5_fin_plc,trnr_xrl5_fin_t2,trnr_xrl5_fin_last,trnr_xrl5_fin_last2,trnr_xr_wins_pct,trnr_xr_fin_t2_pct,trnr_xr_fin_plc_pct,trnr_xr_fin_last_pct,trnr_xr_fin_last2_pct
count,661072.000000,6.610720e+05,661072.000000,661072.0,661072.00000,661072.000000,661072.000000,661072.000000,661072.000000,661072.000000,661072.000000,661072.000000,661072.0,661072.000000,661072.000000,661072.000000,661072.000000,661072.0,661072.000000,661072.000000,661072.000000,661072.000000,661072.0,661072.000000,661072.000000,661072.000000,661072.000000,661072.0,661072.000000,661072.000000,6.610720e+05,661072.000000
mean,112146.430508,7.640751e+08,1.096825,0.0,0.38442,0.304209,0.151657,0.303445,256.688510,305.229293,255.700660,304.138543,0.0,0.382681,0.302852,0.150365,0.301147,0.0,100.302081,79.717822,36.321693,73.528988,0.0,1.894316,1.499366,0.741134,1.485885,0.0,0.277338,0.347791,inf,0.269761
std,79248.908137,7.789107e+07,0.359587,0.0,0.50764,0.471648,0.358688,0.473428,339.292653,459.520683,339.283497,459.430295,0.0,0.507217,0.471076,0.357429,0.472425,0.0,130.066408,104.620271,47.939740,94.576356,0.0,1.298689,1.196665,0.866860,1.186936,0.0,0.124222,0.133122,NaN,0.118689
min,6418.000000,6.238619e+08,1.000000,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000e+00,0.000000
25%,65399.000000,6.985139e+08,1.000000,0.0,0.00000,0.000000,0.000000,0.000000,52.000000,55.000000,51.000000,54.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,17.000000,13.000000,6.000000,14.000000,0.0,1.000000,1.000000,0.000000,1.000000,0.0,0.198925,0.266026,9.404332e-02,0.200000
50%,99770.000000,7.654782e+08,1.000000,0.0,0.00000,0.000000,0.000000,0.000000,136.000000,146.000000,135.000000,144.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,49.000000,38.000000,18.000000,38.000000,0.0,2.000000,1.000000,1.000000,1.000000,0.0,0.271028,0.345960,1.341853e-01,0.256545
75%,125548.000000,8.292901e+08,1.000000,0.0,1.00000,1.000000,0.000000,1.000000,316.000000,348.000000,315.000000,347.000000,0.0,1.000000,1.000000,0.000000,1.000000,0.0,124.000000,99.000000,46.000000,93.000000,0.0,3.000000,2.000000,1.000000,2.000000,0.0,0.348114,0.426474,1.901840e-01,0.332605
max,337600.000000,8.978632e+08,8.000000,0.0,3.00000,2.000000,1.000000,2.000000,2925.000000,4590.000000,2924.000000,4589.000000,0.0,3.000000,2.000000,1.000000,2.000000,0.0,828.000000,719.000000,383.000000,727.000000,0.0,12.000000,8.000000,5.000000,9.000000,0.0,1.000000,1.000000,inf,1.000000


### C) Treat Missing Values

In [42]:

print(datetime.now().date())

2023-06-07

In [43]:

print(df_base_trnr.columns.values.tolist())

['TrainerId', '@id_RACE', 'Event_Dt', 'trnr_num_dogs', 'trnr_wins', 'trnr_fin_plc', 'trnr_fin_t2', 'trnr_fin_last', 'trnr_fin_last2', 'trnr_xr_races_tot', 'trnr_xr_dogsraced_tot', 'trnr_xr_races_tot_prev', 'trnr_xr_dogsraced_tot_prev', 'trnr_wins_prev', 'trnr_fin_plc_prev', 'trnr_fin_t2_prev', 'trnr_fin_last_prev', 'trnr_fin_last2_prev', 'trnr_xr_wins', 'trnr_xr_fin_plc', 'trnr_xr_fin_t2', 'trnr_xr_fin_last', 'trnr_xr_fin_last2', 'trnr_xrl5_wins', 'trnr_xrl5_fin_plc', 'trnr_xrl5_fin_t2', 'trnr_xrl5_fin_last', 'trnr_xrl5_fin_last2', 'trnr_xr_wins_pct', 'trnr_xr_fin_t2_pct', 'trnr_xr_fin_plc_pct', 'trnr_xr_fin_last_pct', 'trnr_xr_fin_last2_pct']


### D) Drop Necessary columns

In [44]:

# 'TrainerName', 'Track' have been dummified

"""
cols_for_drop = ['Box','Rug','Weight','Handicap','Margin1','Margin2','PIR','Checks','Comments','SplitMargin','Prizemoney','RaceId','TrainerId','RaceTime','Distance','RaceGrade','date', 'f_1','speed',\
                'Place', 'StartPrice'\
                ,'speed_prev', 'speed_avg', 'speed_min', 'speed_max', 'speed_range', 'speed_std'\
                , 'DogName', 'TrainerName', 'RaceNum', 'RaceName', 'Track', 'Event_Dt', 'position','y_runtime'\
                , 'x_dist','ft_sp', 'x_dist', 'x_num_dogs'\
                , 'mvt_rtgp_prev', 'mvt_rtgp_avg', 'mvt_rtgp_min' ,'mvt_rtgp_max' ,'mvt_rtgp_range', 'mvt_rtgp_std'\
                , 'y_margin','y_pos'\
                
                , 'trnr_num_dogs', 'trnr_wins', 'trnr_fin_plc', 'trnr_fin_t2', 'trnr_fin_last', 'trnr_fin_last2'\
                , 'trnr_xr_dogsraced_tot', 'trnr_xr_dogsraced_tot_prev']
"""

cols_to_keep = [ 'TrainerId', '@id_RACE', 'Event_Dt'\
                , 'trnr_xr_races_tot', 'trnr_xr_races_tot_prev', 'trnr_wins_prev'\
                , 'trnr_fin_plc_prev', 'trnr_fin_t2_prev', 'trnr_fin_last_prev', 'trnr_fin_last2_prev'\
                
                , 'trnr_xr_wins', 'trnr_xr_fin_plc', 'trnr_xr_fin_t2', 'trnr_xr_fin_last', 'trnr_xr_fin_last2'\
                , 'trnr_xrl5_wins', 'trnr_xrl5_fin_plc', 'trnr_xrl5_fin_t2', 'trnr_xrl5_fin_last', 'trnr_xrl5_fin_last2'\
                
                , 'trnr_xr_wins_pct', 'trnr_xr_fin_t2_pct', 'trnr_xr_fin_plc_pct', 'trnr_xr_fin_last_pct', 'trnr_xr_fin_last2_pct']

## SHOULD BE THE LAST STEP OR a Separate Code
#df.ft1 = df.ft.copy()
#exp_ds = df.ft_mvt.drop(columns = cols_for_drop)
exp_ds = df_base_trnr[ cols_to_keep ]

# removed the Categorical columns from the original datast, adds the dummy variables, creates a new dataset
print(exp_ds.columns)

Index(['TrainerId', '@id_RACE', 'Event_Dt', 'trnr_xr_races_tot',
       'trnr_xr_races_tot_prev', 'trnr_wins_prev', 'trnr_fin_plc_prev',
       'trnr_fin_t2_prev', 'trnr_fin_last_prev', 'trnr_fin_last2_prev',
       'trnr_xr_wins', 'trnr_xr_fin_plc', 'trnr_xr_fin_t2', 'trnr_xr_fin_last',
       'trnr_xr_fin_last2', 'trnr_xrl5_wins', 'trnr_xrl5_fin_plc',
       'trnr_xrl5_fin_t2', 'trnr_xrl5_fin_last', 'trnr_xrl5_fin_last2',
       'trnr_xr_wins_pct', 'trnr_xr_fin_t2_pct', 'trnr_xr_fin_plc_pct',
       'trnr_xr_fin_last_pct', 'trnr_xr_fin_last2_pct'],
      dtype='object')

In [45]:

exp_ds.head()

,TrainerId,@id_RACE,Event_Dt,trnr_xr_races_tot,trnr_xr_races_tot_prev,trnr_wins_prev,trnr_fin_plc_prev,trnr_fin_t2_prev,trnr_fin_last_prev,trnr_fin_last2_prev,trnr_xr_wins,trnr_xr_fin_plc,trnr_xr_fin_t2,trnr_xr_fin_last,trnr_xr_fin_last2,trnr_xrl5_wins,trnr_xrl5_fin_plc,trnr_xrl5_fin_t2,trnr_xrl5_fin_last,trnr_xrl5_fin_last2,trnr_xr_wins_pct,trnr_xr_fin_t2_pct,trnr_xr_fin_plc_pct,trnr_xr_fin_last_pct,trnr_xr_fin_last2_pct
0,6418,628251506,2021-01-03,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.00
1,6418,630070641,2021-01-07,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.00
2,6418,630388780,2021-01-08,2,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.500000,0.500000,0.0,0.00
4,6418,631794071,2021-01-13,3,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.333333,0.333333,0.0,0.00
3,6418,631783546,2021-01-14,4,3.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.250000,0.250000,0.0,0.25

### EXPORTING THE SPEED PROFILE csv

In [46]:

#keep_cols_for_export = ['@id_DOG', 'DogName', '@id_RACE','RaceName','Track','RaceGrade','Distance','TrainerName','RunTime','Place','x_races_tot']
#'Event_Dt', 

cols_for_drop = []

todaydt = datetime.now().date()
exp_fname = f'dataprep_TRNR_performance_{todaydt}.csv'

In [47]:

print(pd.DataFrame(exp_ds.isna().sum()).transpose())

   TrainerId  @id_RACE  Event_Dt  trnr_xr_races_tot  trnr_xr_races_tot_prev  \
0          0         0         0                  0                       0

   trnr_wins_prev  trnr_fin_plc_prev  trnr_fin_t2_prev  trnr_fin_last_prev  \
0               0                  0                 0                   0

   trnr_fin_last2_prev  trnr_xr_wins  trnr_xr_fin_plc  trnr_xr_fin_t2  \
0                    0             0                0               0

   trnr_xr_fin_last  trnr_xr_fin_last2  trnr_xrl5_wins  trnr_xrl5_fin_plc  \
0                 0                  0               0                  0

   trnr_xrl5_fin_t2  trnr_xrl5_fin_last  trnr_xrl5_fin_last2  \
0                 0                   0                    0

   trnr_xr_wins_pct  trnr_xr_fin_t2_pct  trnr_xr_fin_plc_pct  \
0                 0                   0                    0

   trnr_xr_fin_last_pct  trnr_xr_fin_last2_pct
0                     0                      0

In [48]:
print(exp_ds.shape)

(661072, 25)

In [49]:

print(exp_ds.columns.values.tolist())

['TrainerId', '@id_RACE', 'Event_Dt', 'trnr_xr_races_tot', 'trnr_xr_races_tot_prev', 'trnr_wins_prev', 'trnr_fin_plc_prev', 'trnr_fin_t2_prev', 'trnr_fin_last_prev', 'trnr_fin_last2_prev', 'trnr_xr_wins', 'trnr_xr_fin_plc', 'trnr_xr_fin_t2', 'trnr_xr_fin_last', 'trnr_xr_fin_last2', 'trnr_xrl5_wins', 'trnr_xrl5_fin_plc', 'trnr_xrl5_fin_t2', 'trnr_xrl5_fin_last', 'trnr_xrl5_fin_last2', 'trnr_xr_wins_pct', 'trnr_xr_fin_t2_pct', 'trnr_xr_fin_plc_pct', 'trnr_xr_fin_last_pct', 'trnr_xr_fin_last2_pct']

In [50]:

exp_ds.head()

,TrainerId,@id_RACE,Event_Dt,trnr_xr_races_tot,trnr_xr_races_tot_prev,trnr_wins_prev,trnr_fin_plc_prev,trnr_fin_t2_prev,trnr_fin_last_prev,trnr_fin_last2_prev,trnr_xr_wins,trnr_xr_fin_plc,trnr_xr_fin_t2,trnr_xr_fin_last,trnr_xr_fin_last2,trnr_xrl5_wins,trnr_xrl5_fin_plc,trnr_xrl5_fin_t2,trnr_xrl5_fin_last,trnr_xrl5_fin_last2,trnr_xr_wins_pct,trnr_xr_fin_t2_pct,trnr_xr_fin_plc_pct,trnr_xr_fin_last_pct,trnr_xr_fin_last2_pct
0,6418,628251506,2021-01-03,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.00
1,6418,630070641,2021-01-07,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.00
2,6418,630388780,2021-01-08,2,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.500000,0.500000,0.0,0.00
4,6418,631794071,2021-01-13,3,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.333333,0.333333,0.0,0.00
3,6418,631783546,2021-01-14,4,3.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.250000,0.250000,0.0,0.25

In [51]:

exp_ds.describe()

,TrainerId,@id_RACE,trnr_xr_races_tot,trnr_xr_races_tot_prev,trnr_wins_prev,trnr_fin_plc_prev,trnr_fin_t2_prev,trnr_fin_last_prev,trnr_fin_last2_prev,trnr_xr_wins,trnr_xr_fin_plc,trnr_xr_fin_t2,trnr_xr_fin_last,trnr_xr_fin_last2,trnr_xrl5_wins,trnr_xrl5_fin_plc,trnr_xrl5_fin_t2,trnr_xrl5_fin_last,trnr_xrl5_fin_last2,trnr_xr_wins_pct,trnr_xr_fin_t2_pct,trnr_xr_fin_plc_pct,trnr_xr_fin_last_pct,trnr_xr_fin_last2_pct
count,661072.000000,6.610720e+05,661072.000000,661072.000000,661072.0,661072.000000,661072.000000,661072.000000,661072.000000,661072.0,661072.000000,661072.000000,661072.000000,661072.000000,661072.0,661072.000000,661072.000000,661072.000000,661072.000000,661072.0,661072.000000,661072.000000,6.610720e+05,661072.000000
mean,112146.430508,7.640751e+08,256.688510,255.700660,0.0,0.382681,0.302852,0.150365,0.301147,0.0,100.302081,79.717822,36.321693,73.528988,0.0,1.894316,1.499366,0.741134,1.485885,0.0,0.277338,0.347791,inf,0.269761
std,79248.908137,7.789107e+07,339.292653,339.283497,0.0,0.507217,0.471076,0.357429,0.472425,0.0,130.066408,104.620271,47.939740,94.576356,0.0,1.298689,1.196665,0.866860,1.186936,0.0,0.124222,0.133122,NaN,0.118689
min,6418.000000,6.238619e+08,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000e+00,0.000000
25%,65399.000000,6.985139e+08,52.000000,51.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,17.000000,13.000000,6.000000,14.000000,0.0,1.000000,1.000000,0.000000,1.000000,0.0,0.198925,0.266026,9.404332e-02,0.200000
50%,99770.000000,7.654782e+08,136.000000,135.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,49.000000,38.000000,18.000000,38.000000,0.0,2.000000,1.000000,1.000000,1.000000,0.0,0.271028,0.345960,1.341853e-01,0.256545
75%,125548.000000,8.292901e+08,316.000000,315.000000,0.0,1.000000,1.000000,0.000000,1.000000,0.0,124.000000,99.000000,46.000000,93.000000,0.0,3.000000,2.000000,1.000000,2.000000,0.0,0.348114,0.426474,1.901840e-01,0.332605
max,337600.000000,8.978632e+08,2925.000000,2924.000000,0.0,3.000000,2.000000,1.000000,2.000000,0.0,828.000000,719.000000,383.000000,727.000000,0.0,12.000000,8.000000,5.000000,9.000000,0.0,1.000000,1.000000,inf,1.000000

In [52]:

print(datetime.now())
exp_ds.to_csv(f'{fileloc}/{exp_fname}', index = False)
print(datetime.now())

# 2 min export time

2023-06-07 13:20:43.137818
2023-06-07 13:22:28.873266

In [53]:

print('THE END')

THE END