In [1]:

# Import libraries
import betfairlightweight
from betfairlightweight import filters
from datetime import datetime
from datetime import timedelta
from dateutil import tz
import math
import numpy as np
import pandas as pd
from scipy.stats import zscore
from sklearn.linear_model import LogisticRegression
import fasttrack as ft

In [2]:

races_ = pd.read_csv("C:\\Users\\karan\\Documents\\Data\\racing\\race_details_20210101_20220424.csv")

In [6]:

print(races_.columns.values.tolist())

display(races_.head(5))

['@id', 'RaceNum', 'RaceName', 'RaceTime', 'Distance', 'RaceGrade', 'Track', 'date']

,@id,RaceNum,RaceName,RaceTime,Distance,RaceGrade,Track,date
0,626271122,1,HAPPY NEW YEAR,02:24PM,288m,Maiden Heat,Ipswich,01 Jan 21
1,626271123,2,TAB LIVE SKY RACING VISION,02:49PM,288m,Maiden Heat,Ipswich,01 Jan 21
2,626271124,3,SKY RACING,03:04PM,288m,Novice Non Penalty,Ipswich,01 Jan 21
3,626271125,4,WWW.IPSWICHGREYHOUNDS.COM,03:24PM,288m,Novice Non Penalty,Ipswich,01 Jan 21
4,626271126,5,GREYHOUND_DATA.COM,03:41PM,431m,Grade 5 Heat,Ipswich,01 Jan 21

In [3]:

results_ = pd.read_csv("C:\\Users\\karan\\Documents\\Data\\racing\\dog_results_20210101_20220424.csv")

In [7]:

print(results_.columns.values.tolist())

display(results_.head(5))

['@id', 'Place', 'DogName', 'Box', 'Rug', 'Weight', 'StartPrice', 'Handicap', 'Margin1', 'Margin2', 'PIR', 'Checks', 'Comments', 'SplitMargin', 'RunTime', 'Prizemoney', 'RaceId', 'TrainerId', 'TrainerName']

,@id,Place,DogName,Box,Rug,Weight,StartPrice,Handicap,Margin1,Margin2,PIR,Checks,Comments,SplitMargin,RunTime,Prizemoney,RaceId,TrainerId,TrainerName
0,460023770,1,SAKKARI,4.0,4,28.0,$3.20F,NaN,1.75,NaN,NaN,0,NaN,NaN,17.14,1400.0,626271122,66176,A Monaghan
1,407727859,2,BANJO LAD,7.0,7,30.6,$12.00,NaN,1.75,1.71,NaN,0,NaN,NaN,17.26,400.0,626271122,275881,N Evans
2,450198101,3,OHANA LEA,5.0,5,25.1,$5.00,NaN,2.50,1.00,NaN,0,NaN,NaN,17.33,200.0,626271122,83303,M Heilbronn
3,323655139,4,CLONMORE,2.0,2,25.4,$8.50,NaN,3.75,1.14,NaN,0,NaN,NaN,17.41,100.0,626271122,61234,B Kitchener
4,393648268,5,AURIGA RACHEL,8.0,9,28.9,$26.00,NaN,5.25,1.43,NaN,0,NaN,NaN,17.51,0.0,626271122,105852,G Draheim