
# Import the code

In [1]:

fileloc  = '/mnt/batch/tasks/shared/LS_root/mounts/clusters/compute-one/code/Users/karan.bhatti'

import sys
print(sys.path)
print()
#sys.path.append(f'{fileloc}')
print()
#print(sys.path)

['/mnt/batch/tasks/shared/LS_root/mounts/clusters/compute-one/code/Users/karan.bhatti', '/anaconda/envs/azureml_py38/lib/python38.zip', '/anaconda/envs/azureml_py38/lib/python3.8', '/anaconda/envs/azureml_py38/lib/python3.8/lib-dynload', '', '/anaconda/envs/azureml_py38/lib/python3.8/site-packages', '/anaconda/envs/azureml_py38/lib/python3.8/site-packages/azureml/_project/vendor', '/anaconda/envs/azureml_py38/lib/python3.8/site-packages/azureml/automl/core/_vendor']

In [2]:

class Data(object):
    pass

df = Data
summ = Data

In [3]:
import helpdesk as hd

In [4]:
#%run helpdesk.py

In [5]:

import pandas as pd, numpy as np

In [6]:
DEBUG = True

In [44]:

pd.set_option('display.max_rows', 50);
pd.set_option('display.max_columns', 50);
pd.set_option('display.width', 200);

In [7]:

fname_race = 'race_details_2022Q1_2022Q4.csv'
fname_dogs = 'dog_results_2022Q1_2022Q2.csv'

In [8]:

#race_details = pd.read_csv(f'{fileloc}/{fname_race}')
dogs_details = pd.read_csv(f'{fileloc}/{fname_dogs}')

#print(race_details.shape)
print(dogs_details.shape)

(320052, 19)

In [9]:

"""
# path on a data store follows the following convention


data_store_name = 'datastore_training'
file_path_name = f'container-training/directory-training/{fname_race}'

#datastorepath = f'azureml://datastores/{data_store_name}/paths/{fname_race}'

print(datastorepath)
"""

"\n# path on a data store follows the following convention\n\n\ndata_store_name = 'datastore_training'\nfile_path_name = f'container-training/directory-training/{fname_race}'\n\n#datastorepath = f'azureml://datastores/{data_store_name}/paths/{fname_race}'\n\nprint(datastorepath)\n"

In [10]:

"""
# azureml-core of version 1.0.72 or higher is required
from azureml.core import Workspace, Dataset

subscription_id = '26cbdf30-f119-49e4-9567-97fad63677a1'
resource_group = 'Training'
workspace_name = 'Azure-Training-Workspace'

workspace = Workspace(subscription_id, resource_group, workspace_name)

dataset = Dataset.get_by_name(workspace, name='dataset_training')

dataset_path = dataset.download(target_path='.', overwrite=True)
"""

"\n# azureml-core of version 1.0.72 or higher is required\nfrom azureml.core import Workspace, Dataset\n\nsubscription_id = '26cbdf30-f119-49e4-9567-97fad63677a1'\nresource_group = 'Training'\nworkspace_name = 'Azure-Training-Workspace'\n\nworkspace = Workspace(subscription_id, resource_group, workspace_name)\n\ndataset = Dataset.get_by_name(workspace, name='dataset_training')\n\ndataset_path = dataset.download(target_path='.', overwrite=True)\n"

In [12]:

#dataset_path = f'{fileloc}/{fname_race}'
dataset_path = f'{fileloc}/{fname_dogs}'

print()
print(f'location of file is : {dataset_path}')
print()

df.dataframe0 = pd.read_csv(dataset_path)

#print(df.head())
print(df.dataframe0.shape)
print()
print(df.dataframe0.describe())
print()

location of file is : /mnt/batch/tasks/shared/LS_root/mounts/clusters/compute-one/code/Users/karan.bhatti/dog_results_2022Q1_2022Q2.csv

(320052, 19)

                @id            Box            Rug         Weight  Handicap  \
count  3.200520e+05  275866.000000  320052.000000  274097.000000       0.0
mean   5.018114e+08       4.473773       4.980566      29.913760       NaN
std    9.355886e+07       2.343796       2.680614       3.308543       NaN
min    1.142441e+08       1.000000       1.000000      18.900000       NaN
25%    4.425664e+08       2.000000       3.000000      27.200000       NaN
50%    5.206438e+08       4.000000       5.000000      29.900000       NaN
75%    5.653369e+08       7.000000       7.000000      32.500000       NaN
max    2.138930e+09       8.000000      10.000000      55.000000       NaN

             Margin1        Margin2         Checks    SplitMargin  \
count  271035.000000  232841.000000  320052.000000  208661.000000
mean        6.485538       2.096751       0.201939       7.204210
std        11.498526      11.112739       1.011168       2.577917
min         0.000000       0.000000       0.000000       0.000000
25%         2.540000       0.570000       0.000000       5.480000
50%         5.500000       1.370000       0.000000       6.760000
75%         9.030000       2.690000       0.000000       8.680000
max      5229.500000    5100.140000      25.000000      30.390000

             RunTime      Prizemoney        RaceId      TrainerId
count  271132.000000   197087.000000  3.200520e+05  320052.000000
mean       24.164559      461.230030  7.867367e+08  108293.512176
std         5.126494     3854.830623  2.436568e+07   81058.201391
min         0.000000        0.000000  7.443523e+08       0.000000
25%        20.150000        0.000000  7.654904e+08   61890.000000
50%        23.370000       65.000000  7.857694e+08   93659.000000
75%        26.800000      460.000000  8.076312e+08  121695.000000
max       396.120000  1000000.000000  8.292517e+08  335222.000000

In [15]:

df.dataframe0.head()

,@id,Place,DogName,Box,Rug,Weight,StartPrice,Handicap,Margin1,Margin2,PIR,Checks,Comments,SplitMargin,RunTime,Prizemoney,RaceId,TrainerId,TrainerName
0,557433643,1,STORM STROLLER,3.0,3,31.4,$2.00F,NaN,5.80,NaN,Q/1111,0,NaN,5.10,30.03,NaN,746984487,118735,P Bartolo
1,556974298,2,ZIPPING JAMES,8.0,8,32.9,$2.30,NaN,5.80,5.80,S/3444,1,NaN,5.22,30.44,NaN,746984487,115394,R Camilleri
2,538578010,3,JIGGLYPUFF,6.0,6,30.3,$15.00,NaN,6.01,0.21,M/4332,6,NaN,5.24,30.45,NaN,746984487,101324,A Dailly
3,414298446,4,STARFLEET,7.0,7,35.3,$23.70,NaN,9.64,3.63,M/5555,2,NaN,5.28,30.70,NaN,746984487,129259,S Barker
4,537985326,5,WILD ONE MIKADO,4.0,4,26.9,$23.40,NaN,9.80,0.16,Q/2223,3,NaN,5.17,30.72,NaN,746984487,133133,M Barber

In [ ]:

#pd.read_csv(datastorepath)

#  Fast Track Data


'''

Place 
    1 to 8 
    In case the GH did not finish the race, but was in the box
        T - Tailed Off
        B - Stayed Back
        F - Fell
        P - Pulled Up        
        
        R - Reserve?
        S ?



'''

In [16]:

# Importing Dog Race Results

#res_raw = pd.read_csv('C:\\Users\\karan\\Documents\\Data\\racing\\FastTrack\\Past\\dog_results_20211201_20211231.csv')
#df.res_raw = pd.read_csv('C:\\Users\\karan\\Documents\\Data\\racing\\FastTrack\\Past\\dog_results_20220101_20220531.csv')

print(f'{fileloc}/dog_results_2022Q1_2022Q2.csv')

df.res_raw = pd.read_csv(f'{fileloc}/dog_results_2022Q1_2022Q2.csv')

df.res_raw.loc[:,"DogName"] = df.res_raw["DogName"].str.replace("'","").str.replace(".","")
if DEBUG: print(df.res_raw.shape) 
# 320 052


#if DEBUG: res_raw[ ~(res_raw.Place.isin( ['D','F','N','R','S','T',''])) ].shape # 66608
if DEBUG: print(df.res_raw[ ~(df.res_raw.Place.isin( ['R','S'])) ].shape) 
# 275 864

df.res_raw2 = df.res_raw[ ~(df.res_raw.Place.isin( ['R','S']))  ]
df.res_ = df.res_raw2[~df.res_raw2.Place.isna()]
if DEBUG: print(df.res_.shape) 
# 273 735

del df.res_raw, df.res_raw2

#res_ = res_raw

/mnt/batch/tasks/shared/LS_root/mounts/clusters/compute-one/code/Users/karan.bhatti/dog_results_2022Q1_2022Q2.csv
(320052, 19)
(275864, 19)
(273735, 19)

In [17]:

# Importing Race Details 

#race_raw = pd.read_csv('C:\\Users\\karan\\Documents\\Data\\racing\\FastTrack\\Past\\race_details_20211201_20211231.csv', parse_dates = True)
#df.race_raw = pd.read_csv('C:\\Users\\karan\\Documents\\Data\\racing\\FastTrack\\Past\\race_details_20220101_20220531.csv', parse_dates = True)

print(f'{fileloc}/race_details_2022Q1_2022Q2.csv')

df.race_raw = pd.read_csv(f'{fileloc}/race_details_2022Q1_2022Q2.csv', parse_dates = True)

df.race_raw['Event_Dt'] = pd.to_datetime(df.race_raw['date']).dt.date

#dtvalct = race_raw.Event_Dt.value_counts()


df.race_raw.loc[df.race_raw.Track.isin(['Murray Bridge (MBR)','Murray Bridge (MBS)']), "Track"] = 'Murray Bridge'
df.race_raw.loc[df.race_raw.Track.isin(['Richmond (RIS)']), "Track"] = 'Richmond'

df.race_raw.loc[df.race_raw.Track.isin(['Sandown (SAP)']), "Track"] = 'Sandown Park'

df.race_raw.loc[df.race_raw.Track.isin(['Meadows (MEP)']), "Track"] = 'Meadows'
df.race_raw.loc[df.race_raw.Track.isin(['The Meadows']), "Track"] = 'Meadows'


if DEBUG : print(df.race_raw.shape)

# 2021
# 52,103 Races

# 2022 upto May
# 21,002 Races

# 2022 Q1/Q2
# 38,562 Races

df.race_ = df.race_raw[ ~df.race_raw.Track.str.contains('NZ')]

if DEBUG : print(df.race_.shape)

del df.race_raw

if DEBUG: print(df.race_.dtypes)

/mnt/batch/tasks/shared/LS_root/mounts/clusters/compute-one/code/Users/karan.bhatti/race_details_2022Q1_2022Q2.csv
(38562, 9)
(34815, 9)
@id           int64
RaceNum       int64
RaceName     object
RaceTime     object
Distance     object
RaceGrade    object
Track        object
date         object
Event_Dt     object
dtype: object

In [24]:

if DEBUG:
    print(df.res_.columns.values.tolist())
    print(df.race_.columns.values.tolist())
    
    print(df.res_.shape)
    print(df.race_.shape)

df.ft = pd.merge(df.res_, df.race_, left_on = 'RaceId', right_on = '@id', how = 'inner', suffixes=('_DOG', '_RACE'))
if DEBUG: print(df.ft.shape)

# 2021
# 333,285

# 2022 upto May
# 132,558

# 2022 Q1/Q2
# 245,827

#qc_DogName = df.ft_merg.DogName.value_counts()

['@id', 'Place', 'DogName', 'Box', 'Rug', 'Weight', 'StartPrice', 'Handicap', 'Margin1', 'Margin2', 'PIR', 'Checks', 'Comments', 'SplitMargin', 'RunTime', 'Prizemoney', 'RaceId', 'TrainerId', 'TrainerName']
['@id', 'RaceNum', 'RaceName', 'RaceTime', 'Distance', 'RaceGrade', 'Track', 'date', 'Event_Dt']
(273735, 19)
(34815, 9)
(245827, 28)

In [19]:

summ.ft = hd.describe_df(df.ft)

In [20]:
summ.ft

,DType,Num_Na,Pct_NA,Num_Zero,Num_Dist,Pct_Dist,Min_Value,Max_Value
@id_DOG,int64,0,0.0000,0,17676,7.1904,114244064,2112520004
Place,object,0,0.0000,0,21,0.0085,1,T
DogName,object,0,0.0000,0,17682,7.1929,AARON ALPACA,ZYLON BALE
Box,float64,0,0.0000,0,8,0.0033,1,8
Rug,int64,0,0.0000,0,10,0.0041,1,10
Weight,float64,438,0.1782,0,239,0.0972,18.9,55
StartPrice,object,1885,0.7668,0,1454,0.5915,$1.00F,$99.90
Handicap,float64,245827,100.0000,0,0,0.0000,NaN,NaN
Margin1,float64,2528,1.0284,8,2519,1.0247,0,5229.5
Margin2,float64,37007,15.0541,4094,1505,0.6122,0,5100.14
PIR,object,33360,13.5705,0,6874,2.7963,0,vnai
Checks,int64,0,0.0000,227127,20,0.0081,0,25
Comments,object,118851,48.3474,0,19979,8.1273,1,c
SplitMargin,float64,40856,16.6198,7,1735,0.7058,0,30.39
RunTime,float64,2445,0.9946,0,2865,1.1655,14.9,396.12
Prizemoney,float64,76632,31.1731,67163,621,0.2526,0,1e+06
RaceId,int64,0,0.0000,0,34570,14.0627,744352338,829251704
TrainerId,int64,0,0.0000,0,3341,1.3591,6418,335222
TrainerName,object,0,0.0000,0,3098,1.2602,A Anderson,Z Wudarczyk
@id_RACE,int64,0,0.0000,0,34570,14.0627,744352338,829251704
RaceNum,int64,0,0.0000,0,18,0.0073,1,18
RaceName,object,0,0.0000,0,8607,3.5012,"""the Peter Thomas"" (L) (Final)/City/520",www.victoolshop.com (275+ RANK)
RaceTime,object,0,0.0000,0,882,0.3588,01:00PM,12:59PM
Distance,object,0,0.0000,0,101,0.0411,259m,732m
RaceGrade,object,0,0.0000,0,92,0.0374,Best 8,Veterans Heat
Track,object,0,0.0000,0,57,0.0232,Albion Park,Young
date,object,0,0.0000,0,273,0.1111,01 Apr 22,31 May 22
Event_Dt,object,0,0.0000,0,273,0.1111,2022-01-01,2022-09-30

In [37]:

print(df.ft.shape)
print(df.ft.columns.values.tolist())

print()
print(df.ft.groupby('RaceGrade').agg({'@id_DOG':'count'}))

(245827, 28)
['@id_DOG', 'Place', 'DogName', 'Box', 'Rug', 'Weight', 'StartPrice', 'Handicap', 'Margin1', 'Margin2', 'PIR', 'Checks', 'Comments', 'SplitMargin', 'RunTime', 'Prizemoney', 'RaceId', 'TrainerId', 'TrainerName', '@id_RACE', 'RaceNum', 'RaceName', 'RaceTime', 'Distance', 'RaceGrade', 'Track', 'date', 'Event_Dt']

                                  @id_DOG
RaceGrade
Best 8                               1611
Class C1 -5 Final - penalty free        8
Class C1 -5 Heat - penalty free        11
Free For All                         6391
Free For All Non Penalty              185
...                                   ...
Tier 3 - Grade 7                     1889
Tier 3 - Maiden                      2409
Tier 3 - Restricted Win              2007
Veterans Final                        208
Veterans Heat                          13

[92 rows x 1 columns]

In [48]:

racegrade = df.ft.groupby('RaceGrade').agg({'@id_DOG':'count'}).reset_index().sort_values(by = 'RaceGrade')

In [49]:

racegrade

                             RaceGrade  @id_DOG
0                               Best 8     1611
1     Class C1 -5 Final - penalty free        8
2      Class C1 -5 Heat - penalty free       11
3                         Free For All     6391
4             Free For All Non Penalty      185
5   GRADE 5  PATHWAY FINAL NON PENALTY       16
6   GRADE 5  PATHWAY HEAT NON- PENALTY       39
7         GRADE 5  PATHWAY NON-PENALTY      611
8             GRADE 5  PATHWAY PENALTY       39
9                              Grade 1       13
10                             Grade 3      376
11                             Grade 4     3321
12                       Grade 4 Final       32
13                             Grade 5    68471
14                       Grade 5 Final     3759
15                        Grade 5 Heat    10092
16                  Grade 5 No Penalty     1187
17                          Grade 5 T3     6785
18                             Grade 6    11865
19                             Grade 7     3225
20                        Group Listed      367
21                          Invitation      391
22                            Juvenile      564
23                 Juvenile Graduation      230
24          Juvenile Heat (deprecated)       16
25                     Juvenile Maiden       31
26             MAIDEN  PATHWAY PENALTY      330
27                              Maiden    24656
28                        Maiden Final     2122
29                         Maiden Heat     5154
30             Maiden Juvenile Grade 5       25
31                   Maiden Semi Final       69
32                             Masters      427
33                       Masters Final       49
34                   Masters Grade 1/2     1160
35             Masters Grade 1/2 Final       32
36              Masters Grade 1/2 Heat       73
37                   Masters Grade 2/3      243
38                     Masters Grade 3      357
39                     Masters Grade 5     2643
40                        Masters Heat       36
41                   Masters Mixed 4/5       58
42                        Masters Open      128
43                               Mixed      378
44                           Mixed 1/2      205
45                         Mixed 1/2/3       47
46                           Mixed 2/3      235
47                         Mixed 2/3/4      292
48                           Mixed 3/4     4349
49                         Mixed 3/4/5      720
50                           Mixed 4/5    23175
51                     Mixed 4/5 Final      335
52                      Mixed 4/5 Heat     1073
53                         Mixed 4/5/6      152
54                    Mixed 4/5/Maiden       32
55                           Mixed 6/5     2602
56                           Mixed 6/7     5215
57                     Mixed 6/7 Final      646
58                      Mixed 6/7 Heat     1418
59         Mixed Maiden and Grade Five     1562
60                      Mixed Maiden/6      128
61                           Mixed N/P       23
62                 Mixed Novice/Maiden      131
63               NO METRO WINS PENALTY      498
64          NOVICE PATHWAY NON-PENALTY      277
65                          Non Graded     5716
66                      Novice Grade 5     4485
67                      Novice Grade 7       11
68                  Novice Non Penalty     4411
69                                Open     2878
70                         Open Maiden      113
71                    Qualifying Trial      600
72       RESTRICTED 5TH GRADE  PENALTY      152
73                      Restricted Win     8258
74                Restricted Win Final      875
75                 Restricted Win Heat     2054
76                           S/E Final      451
77                         S/E Group 1      192
78                         S/E Group 2      184
79                         S/E Group 3      323
80                            S/E Heat     4491
81                      S/E Semi Final      142
82                         S/E Veteran      446
83                       Special Event     1334
84      Special Event Heat Non Penalty      311
85           Special Event Non Penalty      241
86                    Tier 3 - Grade 6      942
87                    Tier 3 - Grade 7     1889
88                     Tier 3 - Maiden     2409
89             Tier 3 - Restricted Win     2007
90                      Veterans Final      208
91                       Veterans Heat       13

In [50]:

df.ft[ df.ft.RaceGrade.isin(['Maiden']) ]

,@id_DOG,Place,DogName,Box,Rug,Weight,StartPrice,Handicap,Margin1,Margin2,PIR,Checks,Comments,SplitMargin,RunTime,Prizemoney,RaceId,TrainerId,TrainerName,@id_RACE,RaceNum,RaceName,RaceTime,Distance,RaceGrade,Track,date,Event_Dt
89,448841548,1,SMILEY CLANCY,6.0,6,35.7,$11.90,NaN,0.87,NaN,M/21,2,NaN,8.83,22.89,NaN,747034604,97352,P Franklin,747034604,1,MACEY'S BISTRO,05:50PM,390m,Maiden,Warrnambool,01 Jan 22,2022-01-01
90,525578570,2,MAX NIPPER,1.0,1,33.8,$1.70F,NaN,0.87,0.87,M/13,1,NaN,8.83,22.96,NaN,747034604,288227,M McClelland,747034604,1,MACEY'S BISTRO,05:50PM,390m,Maiden,Warrnambool,01 Jan 22,2022-01-01
91,571666553,3,INGA LEAH,7.0,7,25.5,$23.70,NaN,0.96,0.09,M/32,3,NaN,8.84,22.96,NaN,747034604,112329,P Inguanti,747034604,1,MACEY'S BISTRO,05:50PM,390m,Maiden,Warrnambool,01 Jan 22,2022-01-01
92,540282423,4,LITTLE ANGIE,8.0,8,27.0,$8.40,NaN,3.87,2.91,M/44,0,NaN,9.02,23.17,NaN,747034604,68923,J Burow,747034604,1,MACEY'S BISTRO,05:50PM,390m,Maiden,Warrnambool,01 Jan 22,2022-01-01
93,585383433,5,ONE EYED BILL,2.0,2,33.2,$22.50,NaN,5.27,1.40,S/55,0,NaN,9.10,23.26,NaN,747034604,69703,B Casey,747034604,1,MACEY'S BISTRO,05:50PM,390m,Maiden,Warrnambool,01 Jan 22,2022-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245679,629791660,4,CHOSEN,2.0,2,31.6,$4.80,NaN,7.00,0.14,53,0,53,4.70,16.39,0.0,827795963,22867,A Kada,827795963,3,LADBROKES MATES MODE MAIDEN,07:58PM,272m,Maiden,The Gardens,30 Sep 22,2022-09-30
245680,550764834,5,OUR BONNIE GIRL,7.0,7,23.7,$4.20,NaN,7.75,0.86,12,0,12,4.49,16.45,0.0,827795963,47155,R Groizard Jnr,827795963,3,LADBROKES MATES MODE MAIDEN,07:58PM,272m,Maiden,The Gardens,30 Sep 22,2022-09-30
245681,647615663,6,JUAN WAY,5.0,5,23.7,$7.00,NaN,10.00,2.14,86,0,86,4.74,16.60,0.0,827795963,47706,R Gore,827795963,3,LADBROKES MATES MODE MAIDEN,07:58PM,272m,Maiden,The Gardens,30 Sep 22,2022-09-30
245682,629792190,7,ZAMBORA BLASTER,8.0,8,30.8,$9.00,NaN,10.50,0.71,77,0,77,4.71,16.65,0.0,827795963,76330,N Lyford,827795963,3,LADBROKES MATES MODE MAIDEN,07:58PM,272m,Maiden,The Gardens,30 Sep 22,2022-09-30
245683,689766807,8,CHATHAM ROSE,6.0,6,24.4,$81.00,NaN,12.00,1.29,48,0,48,4.65,16.74,0.0,827795963,290127,M Jobson,827795963,3,LADBROKES MATES MODE MAIDEN,07:58PM,272m,Maiden,The Gardens,30 Sep 22,2022-09-30

In [54]:


dogname_rup = df.ft.groupby('DogName').agg({'RaceId':'count'}).reset_index().sort_values(by = 'DogName')

In [58]:

pd.set_option('display.max_rows', 100)

In [60]:

display(dogname_rup)

             DogName  RaceId
0       AARON ALPACA       5
1      AARON KEEPING      32
2      ABBEY SIOBHAN      10
3         ABBY JAZZY       5
4       ABBY KEEPING      21
...              ...     ...
17677    ZULU ZEPHYR      13
17678     ZUMBA LENA      24
17679        ZURHAAR      14
17680           ZURI       3
17681     ZYLON BALE      25

[17682 rows x 2 columns]