
"""
More Variables :

Total Races from current race
- Races in the last 7/14/28/60/90/180/365/730 days 
- Races won in the 7/14/28/60/90/180/365/730 days
- Races placed in the 7/14/28/60/90/180/365/730 days


"""


# Import the code

In [1]:

#fileloc  = '/mnt/batch/tasks/shared/LS_root/mounts/clusters/compute-one/code/Users/karan.bhatti'
fileloc  = '/mnt/batch/tasks/shared/LS_root/mounts/clusters/compute-one-8c-32gb/code/Users/karan.bhatti'

import sys
print(sys.path)
print()
#sys.path.append(f'{fileloc}')
print()
#print(sys.path)

['/mnt/batch/tasks/shared/LS_root/mounts/clusters/compute-one-8c-32gb/code/Users/karan.bhatti', '/anaconda/envs/azureml_py38/lib/python38.zip', '/anaconda/envs/azureml_py38/lib/python3.8', '/anaconda/envs/azureml_py38/lib/python3.8/lib-dynload', '', '/anaconda/envs/azureml_py38/lib/python3.8/site-packages', '/anaconda/envs/azureml_py38/lib/python3.8/site-packages/azureml/_project/vendor', '/anaconda/envs/azureml_py38/lib/python3.8/site-packages/azureml/automl/core/_vendor']

In [2]:

class Data(object):
    pass

df = Data
summ = Data

In [3]:
import helpdesk as hd

In [4]:

import pandas as pd, numpy as np
from datetime import datetime

In [5]:
DEBUG = True

In [6]:

pd.set_option('display.max_rows', 50);
pd.set_option('display.max_columns', 50);
pd.set_option('display.width', 200);

In [7]:

# Importing Dog Race Results

#res_raw = pd.read_csv('C:\\Users\\karan\\Documents\\Data\\racing\\FastTrack\\Past\\dog_results_20211201_20211231.csv')
#df.res_raw = pd.read_csv('C:\\Users\\karan\\Documents\\Data\\racing\\FastTrack\\Past\\dog_results_20220101_20220531.csv')

print(f'{fileloc}/dog_results_2022Q1_2022Q2.csv')

df.res_raw_2021Q1Q4 = pd.read_csv(f'{fileloc}/dog_results_2021Q1_2021Q4.csv')
print(df.res_raw_2021Q1Q4.columns.values.tolist())
print(df.res_raw_2021Q1Q4.shape)

df.res_raw_2022Q1Q2 = pd.read_csv(f'{fileloc}/dog_results_2022Q1_2022Q2.csv')
print(df.res_raw_2022Q1Q2.columns.values.tolist())
print(df.res_raw_2022Q1Q2.shape)

/mnt/batch/tasks/shared/LS_root/mounts/clusters/compute-one-8c-32gb/code/Users/karan.bhatti/dog_results_2022Q1_2022Q2.csv
['@id', 'Place', 'DogName', 'Box', 'Rug', 'Weight', 'StartPrice', 'Handicap', 'Margin1', 'Margin2', 'PIR', 'Checks', 'Comments', 'SplitMargin', 'RunTime', 'Prizemoney', 'RaceId', 'TrainerId', 'TrainerName']
(435715, 19)
['@id', 'Place', 'DogName', 'Box', 'Rug', 'Weight', 'StartPrice', 'Handicap', 'Margin1', 'Margin2', 'PIR', 'Checks', 'Comments', 'SplitMargin', 'RunTime', 'Prizemoney', 'RaceId', 'TrainerId', 'TrainerName']
(320052, 19)

In [8]:

df.res_raw = df.res_raw_2021Q1Q4.append( df.res_raw_2022Q1Q2 )
print(df.res_raw.columns.values.tolist())
print(df.res_raw.shape)

['@id', 'Place', 'DogName', 'Box', 'Rug', 'Weight', 'StartPrice', 'Handicap', 'Margin1', 'Margin2', 'PIR', 'Checks', 'Comments', 'SplitMargin', 'RunTime', 'Prizemoney', 'RaceId', 'TrainerId', 'TrainerName']
(755767, 19)

In [9]:

df.res_raw.loc[:,"DogName"] = df.res_raw["DogName"].str.replace("'","").str.replace(".","")
if DEBUG: print(df.res_raw.shape) 
# 320 052

#if DEBUG: res_raw[ ~(res_raw.Place.isin( ['D','F','N','R','S','T',''])) ].shape # 66608
if DEBUG: print(df.res_raw[ ~(df.res_raw.Place.isin( ['R','S'])) ].shape) 
# 275 864

df.res_raw2 = df.res_raw[ ~(df.res_raw.Place.isin( ['R','S']))  ]
df.res_ = df.res_raw2[~df.res_raw2.Place.isna()]
if DEBUG: print(df.res_.shape) 
# 273 735

del df.res_raw, df.res_raw2

#res_ = res_raw

(755767, 19)
(649399, 19)
(644761, 19)

In [10]:

# Importing Race Details 

#race_raw = pd.read_csv('C:\\Users\\karan\\Documents\\Data\\racing\\FastTrack\\Past\\race_details_20211201_20211231.csv', parse_dates = True)
#df.race_raw = pd.read_csv('C:\\Users\\karan\\Documents\\Data\\racing\\FastTrack\\Past\\race_details_20220101_20220531.csv', parse_dates = True)

print(f'{fileloc}/race_details_2022Q1_2022Q2.csv')

df.race_raw_2022Q1Q2 = pd.read_csv(f'{fileloc}/race_details_2022Q1_2022Q2.csv', parse_dates = True)
print(df.race_raw_2022Q1Q2.columns.values.tolist())
print(df.race_raw_2022Q1Q2.shape)

df.race_raw_2021Q1Q4 = pd.read_csv(f'{fileloc}/race_details_2021Q1_2021Q4.csv', parse_dates = True)
print(df.race_raw_2021Q1Q4.columns.values.tolist())
print(df.race_raw_2021Q1Q4.shape)

/mnt/batch/tasks/shared/LS_root/mounts/clusters/compute-one-8c-32gb/code/Users/karan.bhatti/race_details_2022Q1_2022Q2.csv
['@id', 'RaceNum', 'RaceName', 'RaceTime', 'Distance', 'RaceGrade', 'Track', 'date']
(38562, 8)
['@id', 'RaceNum', 'RaceName', 'RaceTime', 'Distance', 'RaceGrade', 'Track', 'date']
(51833, 8)

In [11]:

df.race_raw = df.race_raw_2021Q1Q4.append( df.race_raw_2022Q1Q2 )
print(df.race_raw.columns.values.tolist())
print(df.race_raw.shape)

['@id', 'RaceNum', 'RaceName', 'RaceTime', 'Distance', 'RaceGrade', 'Track', 'date']
(90395, 8)

In [12]:

df.race_raw['Event_Dt'] = pd.to_datetime(df.race_raw['date']).dt.date

#dtvalct = race_raw.Event_Dt.value_counts()

df.race_raw.loc[df.race_raw.Track.isin(['Murray Bridge (MBR)','Murray Bridge (MBS)']), "Track"] = 'Murray Bridge'
df.race_raw.loc[df.race_raw.Track.isin(['Richmond (RIS)']), "Track"] = 'Richmond'

df.race_raw.loc[df.race_raw.Track.isin(['Sandown (SAP)']), "Track"] = 'Sandown Park'

df.race_raw.loc[df.race_raw.Track.isin(['Meadows (MEP)']), "Track"] = 'Meadows'
df.race_raw.loc[df.race_raw.Track.isin(['The Meadows']), "Track"] = 'Meadows'


if DEBUG : print(df.race_raw.shape)

# 2021
# 52,103 Races

# 2022 upto May
# 21,002 Races

# 2022 Q1/Q2
# 38,562 Races

# 2022 Q1/Q2 + 2021 Q1/Q2/Q3/Q4
# 81,412 Races

df.race_ = df.race_raw[ ~df.race_raw.Track.str.contains('NZ')]

if DEBUG : print(df.race_.shape)

del df.race_raw

if DEBUG: print(df.race_.dtypes)

(90395, 9)
(81412, 9)
@id           int64
RaceNum       int64
RaceName     object
RaceTime     object
Distance     object
RaceGrade    object
Track        object
date         object
Event_Dt     object
dtype: object

In [16]:

if DEBUG:
    print(df.res_.columns.values.tolist())
    print(df.race_.columns.values.tolist())
    
    print(df.res_.shape)
    print(df.race_.shape)

df.ft_raw = pd.merge(df.res_, df.race_, left_on = 'RaceId', right_on = '@id', how = 'inner', suffixes=('_DOG', '_RACE'))
if DEBUG: print(df.ft_raw.shape)

# 2021
# 333,285

# 2022 upto May
# 132,558

# 2022 Q1/Q2
# 245,827

# 2022 Q1/Q2 + 2021 Q1/Q2/Q3/Q4
# 245,827

#qc_DogName = df.ft_merg.DogName.value_counts()

['@id', 'Place', 'DogName', 'Box', 'Rug', 'Weight', 'StartPrice', 'Handicap', 'Margin1', 'Margin2', 'PIR', 'Checks', 'Comments', 'SplitMargin', 'RunTime', 'Prizemoney', 'RaceId', 'TrainerId', 'TrainerName']
['@id', 'RaceNum', 'RaceName', 'RaceTime', 'Distance', 'RaceGrade', 'Track', 'date', 'Event_Dt']
(644761, 19)
(81412, 9)
(577317, 28)

In [14]:

#summ.ft = hd.describe_df(df.ft)

### A) Prepare the Base Dataset -- Exclusions (Missing ft sp, place info, Margin1, num_dogs u5)

In [17]:

# Delete races where ft_sp is blank
all_races = df.ft_raw['@id_RACE'].unique().tolist()
print(len(all_races))
print()

print("# Part 1 - Removing Races with missing fast track prices - can't be measured for performance")
# Clean the fast track prices
df.ft_raw['ft_sp'] = df.ft_raw.StartPrice.apply(lambda x : float(str(x).replace("$","").replace("F","")) )

blank_ft_sp_races = df.ft_raw[df.ft_raw['ft_sp'].isna()]['@id_RACE'].unique().tolist()
#print(len(blank_ft_sp_races))
df_base0 = df.ft_raw[ ( ~df.ft_raw['@id_RACE'].isin(blank_ft_sp_races) ) ]
print(f"Shape : {df_base0.shape}, Races : {len(df_base0['@id_RACE'].unique().tolist())}, Race w missing fast track prices : {len(blank_ft_sp_races)}")
print()

print("# Part 2 - Removing Races with Missing Place Information")
place_to_remove = ['F','T','N','P','B','D']
races_excl_pos = df_base0[df_base0['Place'].isin(place_to_remove)]['@id_RACE'].unique().tolist()
#print(len(races_excl_pos))

df_base1 = df_base0[ ( ~df_base0['@id_RACE'].isin(races_excl_pos) ) ]
print(f"Shape : {df_base1.shape}, Races : {len(df_base1['@id_RACE'].unique().tolist())}, Races w missing Place : {len(races_excl_pos)}")
print()

print("# Part 3 - Removing Races with no Missing Margin1 information")
races_excl_margin = df_base1[df_base1['Margin1'].isna()]['@id_RACE'].unique().tolist()
#print(len(races_excl_margin))

df_base2 = df_base1[ ( ~df_base1['@id_RACE'].isin(races_excl_margin) ) ]
print(f"Shape : {df_base2.shape}, Races : {len(df_base2['@id_RACE'].unique().tolist())}, Races w missing Margin : {len(races_excl_margin)}")

del df_base0, df_base1

80909

# Part 1 - Removing Races with missing fast track prices - can't be measured for performance
Shape : (569648, 29), Races : 79518, Race w missing fast track prices : 1391

# Part 2 - Removing Races with Missing Place Information
Shape : (541552, 29), Races : 75740, Races w missing Place : 3778

# Part 3 - Removing Races with no Missing Margin1 information
Shape : (541527, 29), Races : 75721, Races w missing Margin : 19

In [18]:

print("# Part 4 - Removing Races with under 5 dogs")
df_num_dogs = df_base2.groupby("@id_RACE").agg( { '@id_DOG':'nunique' } ).reset_index().rename(columns = {'@id_DOG':'x_num_dogs'})

print(df_num_dogs.shape)
print(df_base2.shape)
print()

df_base3 = pd.merge( df_base2, df_num_dogs, on = ["@id_RACE"], how = 'left')
print(df_base3.columns.values.tolist())
print()

races_u5dogs = df_base3[df_base3.x_num_dogs.isin([1,2,3,4])]['@id_RACE'].unique().tolist()
print(len(races_u5dogs))
print()

print( len(df_base3['@id_RACE'].unique().tolist()))
df_base = df_base3[ ( ~df_base3['@id_RACE'].isin(races_u5dogs) ) ].copy()   
print()

#print(df.ft.shape)
print(f"Shape : {df_base.shape}, Races : {len(df_base['@id_RACE'].unique().tolist())}, Races u5 Dogs : {len(races_u5dogs)}")
print()

del df_base2, df_base3

# Part 4 - Removing Races with under 5 dogs
(75721, 2)
(541527, 29)

['@id_DOG', 'Place', 'DogName', 'Box', 'Rug', 'Weight', 'StartPrice', 'Handicap', 'Margin1', 'Margin2', 'PIR', 'Checks', 'Comments', 'SplitMargin', 'RunTime', 'Prizemoney', 'RaceId', 'TrainerId', 'TrainerName', '@id_RACE', 'RaceNum', 'RaceName', 'RaceTime', 'Distance', 'RaceGrade', 'Track', 'date', 'Event_Dt', 'ft_sp', 'x_num_dogs']

1243

75721

Shape : (536782, 30), Races : 74478, Races u5 Dogs : 1243

In [20]:

# Fix the position Variable
df_base['position'] = df_base.Place.apply(lambda x : x.replace("=","") if x in ['1=','2=','3=','4=','5=','6=','7=','8='] else x)
print(pd.DataFrame(df_base.position.value_counts()).transpose())

              1      2      3      4      5      6      7      8
position  74620  74533  74503  74453  74453  69445  55908  38867

### B) Create Variable for Race Profile

In [19]:
df_base.sort_values(by = ['@id_DOG', 'DogName', 'Event_Dt'], inplace = True)

In [24]:

df_base[df_base.DogName.isin(['FOURTH DIMENTION'])].head()

,@id_DOG,Place,DogName,Box,Rug,Weight,StartPrice,Handicap,Margin1,Margin2,PIR,Checks,Comments,SplitMargin,RunTime,Prizemoney,RaceId,TrainerId,TrainerName,@id_RACE,RaceNum,RaceName,RaceTime,Distance,RaceGrade,Track,date,Event_Dt,ft_sp,x_num_dogs,position,G5,G4,G3,G2,G1,Gmix,Gmas,Gmai,Gh,Gres,Gnov,Gsp,Gfin
10697,114244064,2,FOURTH DIMENTION,3.0,3,33.4,$4.20,NaN,0.39,0.39,M/22,1,NaN,8.36,22.75,NaN,631783547,131578,P Pollutro,631783547,7,TAB - LONG MAY WE PLAY,05:15PM,400m,Grade 5 T3,Warragul,14 Jan 21,2021-01-14,4.2,8,2,1,0,0,0,0,0,0,0,0,0,0,0,0
25083,114244064,2,FOURTH DIMENTION,8.0,8,33.2,$2.70F,NaN,0.60,0.60,M/33,0,NaN,8.56,23.16,NaN,636866192,131578,P Pollutro,636866192,12,SENNACHIE AT STUD,06:08PM,400m,Grade 5,Warragul,01 Feb 21,2021-02-01,2.7,7,2,1,0,0,0,0,0,0,0,0,0,0,0,0
48314,114244064,8,FOURTH DIMENTION,3.0,3,33.6,$29.60,NaN,7.60,0.36,M/4,1,NaN,4.00,17.61,NaN,645823097,131578,P Pollutro,645823097,12,DOWNLOAD THE NEW WATCHDOG APP,02:35PM,300m,Grade 5,Healesville,02 Mar 21,2021-03-02,29.6,8,8,1,0,0,0,0,0,0,0,0,0,0,0,0
55730,114244064,3,FOURTH DIMENTION,6.0,6,34.0,$9.20,NaN,2.89,0.46,M/66,5,NaN,8.49,23.13,NaN,649065546,131578,P Pollutro,649065546,11,PAUA KENNELS (250+ RANK),06:27PM,400m,Grade 5,Warragul,11 Mar 21,2021-03-11,9.2,7,3,1,0,0,0,0,0,0,0,0,0,0,0,0
63340,114244064,3,FOURTH DIMENTION,4.0,4,33.9,$35.00,NaN,2.09,1.81,M/43,4,NaN,8.96,23.16,NaN,651668743,131578,P Pollutro,651668743,12,TAB - LONG MAY WE PLAY,09:22PM,400m,Grade 5,Warragul,20 Mar 21,2021-03-20,35.0,8,3,1,0,0,0,0,0,0,0,0,0,0,0,0

In [23]:

# Creating Grad level variables 
df_base['G5'] = df_base['RaceGrade'].apply(lambda x : 1 if ('Grade 5' in x) | ('Five' in x) else 0 )
df_base['G4'] = df_base['RaceGrade'].apply(lambda x : 1 if ('Grade 4' in x) else 0 )
df_base['G3'] = df_base['RaceGrade'].apply(lambda x : 1 if ('Grade 3' in x) else 0 )
df_base['G2'] = df_base['RaceGrade'].apply(lambda x : 1 if ('Grade 2' in x) else 0 )
df_base['G1'] = df_base['RaceGrade'].apply(lambda x : 1 if ('Grade 1' in x) else 0 )

df_base['Gmix'] = df_base['RaceGrade'].apply(lambda x : 1 if ('Mixed' in x) else 0 )
df_base['Gmas'] = df_base['RaceGrade'].apply(lambda x : 1 if ('Master' in x) else 0 )
df_base['Gmai'] = df_base['RaceGrade'].apply(lambda x : 1 if ('Maiden' in x) else 0 )
df_base['Gh'] = df_base['RaceGrade'].apply(lambda x : 1 if ('Heat' in x) else 0 )
df_base['Gres'] = df_base['RaceGrade'].apply(lambda x : 1 if ('Restricted' in x) else 0 )
df_base['Gnov'] = df_base['RaceGrade'].apply(lambda x : 1 if ('Novice' in x) else 0 )
df_base['Gsp'] = df_base['RaceGrade'].apply(lambda x : 1 if ('Special' in x) | ('S/E' in x) else 0 )
df_base['Gfin'] = df_base['RaceGrade'].apply(lambda x : 1 if ('Final' in x) else 0 )

In [25]:

df_base['RaceGrade_H1'] = df_base['RaceGrade'].apply( lambda x : 'Grade 7' if 'Grade 7' in x \
                                                        else 'Grade 6' if 'Grade 6' in x \
                                                        else 'Grade 5' if 'Grade 5' in x \
                                                        else 'Grade 4' if 'Grade 4' in x \
                                                        else 'Grade 3' if 'Grade 3' in x \
                                                        else 'Grade 2' if 'Grade 2' in x \
                                                        else 'Grade 2' if 'Grade 2' in x \
                                                        else 'Grade 1' if 'Grade 1' in x \
                                                        else 'Mixed' if 'Mixed' in x \
                                                        else 'Master' if 'Master' in x \
                                                        else 'Heat' if 'Heat' in x \
                                                        else 'Restricted' if 'Restricted' in x \
                                                        else 'Special' if 'Special' in x \
                                                        else 'Other' )

In [26]:

df_base['RaceGrade_H1'].value_counts()

Grade 5       212884
Other         121201
Mixed          92847
Grade 6        29059
Heat           26609
Restricted     24636
Grade 7        11018
Grade 4         8079
Special         4428
Grade 1         2427
Grade 3         1700
Master          1329
Grade 2          565
Name: RaceGrade_H1, dtype: int64

In [27]:

grade_fix = df_base.groupby(['RaceGrade_H1','RaceGrade']).agg({'@id_RACE':'nunique'}).reset_index()

grade_fix.to_csv(f'{fileloc}/grade_fix.csv', index = False)

In [28]:

print(df_base.shape)
print(df_base.columns.values.tolist())

(536782, 45)
['@id_DOG', 'Place', 'DogName', 'Box', 'Rug', 'Weight', 'StartPrice', 'Handicap', 'Margin1', 'Margin2', 'PIR', 'Checks', 'Comments', 'SplitMargin', 'RunTime', 'Prizemoney', 'RaceId', 'TrainerId', 'TrainerName', '@id_RACE', 'RaceNum', 'RaceName', 'RaceTime', 'Distance', 'RaceGrade', 'Track', 'date', 'Event_Dt', 'ft_sp', 'x_num_dogs', 'position', 'G5', 'G4', 'G3', 'G2', 'G1', 'Gmix', 'Gmas', 'Gmai', 'Gh', 'Gres', 'Gnov', 'Gsp', 'Gfin', 'RaceGrade_H1']

In [29]:

print(pd.DataFrame(df_base.isna().sum()).transpose())

   @id_DOG  Place  DogName  Box  Rug  Weight  StartPrice  Handicap  Margin1  Margin2    PIR  Checks  Comments  SplitMargin  RunTime  Prizemoney  RaceId  TrainerId  TrainerName  @id_RACE  RaceNum  \
0        0      0        0    0    0       1           0    536782        0    74620  71107       0    259643        90362        0      167442       0          0            0         0        0

   RaceName  RaceTime  Distance  RaceGrade  Track  date  Event_Dt  ft_sp  x_num_dogs  position  G5  G4  G3  G2  G1  Gmix  Gmas  Gmai  Gh  Gres  Gnov  Gsp  Gfin  RaceGrade_H1
0        15         0         0          0      0     0         0      0           0         0   0   0   0   0   0     0     0     0   0     0     0    0     0             0

In [30]:

#print(df_base1.RaceGrade.value_counts())
#racegrades = df_base1.RaceGrade.value_counts()
#racegrades.to_csv
#racegrades.to_csv(f"{fileloc}/racegrades.csv", index = True)

In [32]:

#keep_cols_for_export = ['@id_DOG', 'DogName', '@id_RACE','RaceName','Track','RaceGrade','Distance','TrainerName','RunTime','Place','x_races_tot']

# 'TrainerName', 'Track' have been dummified
#cols_to_keep = ['@id_DOG', 'DogName', 'y_runtime', 'RaceId', '@id_RACE', 'position', 'ft_sp', 'x_num_dogs', 'Top3_actual', 'position_random', 'position_fasttrack', 'Winner_fastrack', 'Top3_fastrack', 'Winner_actual', 'Winner_random', 'Top3_random']

cols_for_drop = ['Place', 'Box', 'Rug', 'Weight', 'StartPrice', 'Handicap', 'Margin1', 'Margin2', 'PIR', 'Checks', 'Comments', 'SplitMargin' \
                 , 'Prizemoney', 'TrainerId', 'TrainerName', 'RaceNum', 'RaceName', 'RaceTime', 'Distance', 'RaceGrade', 'Track', 'date' \
                 , 'Event_Dt','RunTime','ft_sp','position','DogName','RaceId','x_num_dogs']

todaydt = datetime.now().date()
exp_fname = f'dataprep_raceprofile_{todaydt}.csv'
exp_ds = df_base.drop(columns = cols_for_drop)

In [ ]:
print(ex

In [33]:

print(exp_ds.columns.values.tolist())

['@id_DOG', '@id_RACE', 'G5', 'G4', 'G3', 'G2', 'G1', 'Gmix', 'Gmas', 'Gmai', 'Gh', 'Gres', 'Gnov', 'Gsp', 'Gfin', 'RaceGrade_H1']

In [34]:

exp_ds.head()

         @id_DOG   @id_RACE  G5  G4  G3  G2  G1  Gmix  Gmas  Gmai  Gh  Gres  Gnov  Gsp  Gfin RaceGrade_H1
3729   108390981  626271182   0   0   0   0   0     1     0     0   0     0     0    0     0        Mixed
9211   108390981  629797242   1   0   0   0   0     0     0     0   0     0     0    0     0      Grade 5
14917  108390981  629797513   1   0   0   0   0     0     0     0   0     0     0    0     0      Grade 5
37110  108390981  638810808   0   0   0   0   0     1     0     0   1     0     0    0     0        Mixed
48421  108390981  643554706   0   1   0   0   0     0     0     0   0     0     0    0     0      Grade 4

In [35]:
exp_ds.describe()

,@id_DOG,@id_RACE,G5,G4,G3,G2,G1,Gmix,Gmas,Gmai,Gh,Gres,Gnov,Gsp,Gfin
count,5.367820e+05,5.367820e+05,536782.000000,536782.000000,536782.000000,536782.000000,536782.000000,536782.000000,536782.000000,536782.000000,536782.000000,536782.000000,536782.000000,536782.000000,536782.000000
mean,4.526384e+08,7.292602e+08,0.403726,0.015051,0.003167,0.001053,0.004521,0.172970,0.021241,0.151305,0.103612,0.053715,0.037335,0.032551,0.042973
std,1.120535e+08,5.833205e+07,0.490644,0.121755,0.056187,0.032426,0.067089,0.378221,0.144188,0.358347,0.304757,0.225454,0.189583,0.177459,0.202796
min,1.083910e+08,6.238619e+08,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.836043e+08,6.801957e+08,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4.517679e+08,7.290297e+08,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,5.274578e+08,7.792436e+08,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,2.145360e+09,8.292517e+08,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:

print(pd.DataFrame(exp_ds.isna().sum()).transpose())

In [36]:

exp_ds.to_csv(f'{fileloc}/{exp_fname}', index = False)

In [46]:

print('THE END')

THE END