
"""
More Variables :

Total Races from current race
- Races in the last 7/14/28/60/90/180/365/730 days 
- Races won in the 7/14/28/60/90/180/365/730 days
- Races placed in the 7/14/28/60/90/180/365/730 days


"""


# Import the code

In [1]:

fileloc  = '/mnt/batch/tasks/shared/LS_root/mounts/clusters/compute-one/code/Users/karan.bhatti'

import sys
print(sys.path)
print()
#sys.path.append(f'{fileloc}')
print()
#print(sys.path)

['/mnt/batch/tasks/shared/LS_root/mounts/clusters/compute-one/code/Users/karan.bhatti', '/anaconda/envs/azureml_py38/lib/python38.zip', '/anaconda/envs/azureml_py38/lib/python3.8', '/anaconda/envs/azureml_py38/lib/python3.8/lib-dynload', '', '/anaconda/envs/azureml_py38/lib/python3.8/site-packages', '/anaconda/envs/azureml_py38/lib/python3.8/site-packages/azureml/_project/vendor', '/anaconda/envs/azureml_py38/lib/python3.8/site-packages/azureml/automl/core/_vendor']

In [2]:

class Data(object):
    pass

df = Data
summ = Data

In [3]:
import helpdesk as hd

In [4]:

import pandas as pd, numpy as np
from datetime import datetime

In [5]:
DEBUG = True

In [6]:

pd.set_option('display.max_rows', 50);
pd.set_option('display.max_columns', 50);
pd.set_option('display.width', 200);

In [7]:

fname_race = 'race_details_2022Q1_2022Q4.csv'
fname_dogs = 'dog_results_2022Q1_2022Q2.csv'

In [8]:

#race_details = pd.read_csv(f'{fileloc}/{fname_race}')
dogs_details = pd.read_csv(f'{fileloc}/{fname_dogs}')

#print(race_details.shape)
print(dogs_details.shape)

(320052, 19)

In [9]:

# Importing Dog Race Results

#res_raw = pd.read_csv('C:\\Users\\karan\\Documents\\Data\\racing\\FastTrack\\Past\\dog_results_20211201_20211231.csv')
#df.res_raw = pd.read_csv('C:\\Users\\karan\\Documents\\Data\\racing\\FastTrack\\Past\\dog_results_20220101_20220531.csv')

print(f'{fileloc}/dog_results_2022Q1_2022Q2.csv')

df.res_raw = pd.read_csv(f'{fileloc}/dog_results_2022Q1_2022Q2.csv')

df.res_raw.loc[:,"DogName"] = df.res_raw["DogName"].str.replace("'","").str.replace(".","")
if DEBUG: print(df.res_raw.shape) 
# 320 052


#if DEBUG: res_raw[ ~(res_raw.Place.isin( ['D','F','N','R','S','T',''])) ].shape # 66608
if DEBUG: print(df.res_raw[ ~(df.res_raw.Place.isin( ['R','S'])) ].shape) 
# 275 864

df.res_raw2 = df.res_raw[ ~(df.res_raw.Place.isin( ['R','S']))  ]
df.res_ = df.res_raw2[~df.res_raw2.Place.isna()]
if DEBUG: print(df.res_.shape) 
# 273 735

del df.res_raw, df.res_raw2

#res_ = res_raw

/mnt/batch/tasks/shared/LS_root/mounts/clusters/compute-one/code/Users/karan.bhatti/dog_results_2022Q1_2022Q2.csv
(320052, 19)
(275864, 19)
(273735, 19)

In [10]:

# Importing Race Details 

#race_raw = pd.read_csv('C:\\Users\\karan\\Documents\\Data\\racing\\FastTrack\\Past\\race_details_20211201_20211231.csv', parse_dates = True)
#df.race_raw = pd.read_csv('C:\\Users\\karan\\Documents\\Data\\racing\\FastTrack\\Past\\race_details_20220101_20220531.csv', parse_dates = True)

print(f'{fileloc}/race_details_2022Q1_2022Q2.csv')

df.race_raw = pd.read_csv(f'{fileloc}/race_details_2022Q1_2022Q2.csv', parse_dates = True)

df.race_raw['Event_Dt'] = pd.to_datetime(df.race_raw['date']).dt.date

#dtvalct = race_raw.Event_Dt.value_counts()


df.race_raw.loc[df.race_raw.Track.isin(['Murray Bridge (MBR)','Murray Bridge (MBS)']), "Track"] = 'Murray Bridge'
df.race_raw.loc[df.race_raw.Track.isin(['Richmond (RIS)']), "Track"] = 'Richmond'

df.race_raw.loc[df.race_raw.Track.isin(['Sandown (SAP)']), "Track"] = 'Sandown Park'

df.race_raw.loc[df.race_raw.Track.isin(['Meadows (MEP)']), "Track"] = 'Meadows'
df.race_raw.loc[df.race_raw.Track.isin(['The Meadows']), "Track"] = 'Meadows'


if DEBUG : print(df.race_raw.shape)

# 2021
# 52,103 Races

# 2022 upto May
# 21,002 Races

# 2022 Q1/Q2
# 38,562 Races

df.race_ = df.race_raw[ ~df.race_raw.Track.str.contains('NZ')]

if DEBUG : print(df.race_.shape)

del df.race_raw

if DEBUG: print(df.race_.dtypes)

/mnt/batch/tasks/shared/LS_root/mounts/clusters/compute-one/code/Users/karan.bhatti/race_details_2022Q1_2022Q2.csv
(38562, 9)
(34815, 9)
@id           int64
RaceNum       int64
RaceName     object
RaceTime     object
Distance     object
RaceGrade    object
Track        object
date         object
Event_Dt     object
dtype: object

In [11]:

if DEBUG:
    print(df.res_.columns.values.tolist())
    print(df.race_.columns.values.tolist())
    
    print(df.res_.shape)
    print(df.race_.shape)

df.ft = pd.merge(df.res_, df.race_, left_on = 'RaceId', right_on = '@id', how = 'inner', suffixes=('_DOG', '_RACE'))
if DEBUG: print(df.ft.shape)

# 2021
# 333,285

# 2022 upto May
# 132,558

# 2022 Q1/Q2
# 245,827

#qc_DogName = df.ft_merg.DogName.value_counts()

['@id', 'Place', 'DogName', 'Box', 'Rug', 'Weight', 'StartPrice', 'Handicap', 'Margin1', 'Margin2', 'PIR', 'Checks', 'Comments', 'SplitMargin', 'RunTime', 'Prizemoney', 'RaceId', 'TrainerId', 'TrainerName']
['@id', 'RaceNum', 'RaceName', 'RaceTime', 'Distance', 'RaceGrade', 'Track', 'date', 'Event_Dt']
(273735, 19)
(34815, 9)
(245827, 28)

In [ ]:

#summ.ft = hd.describe_df(df.ft)

In [12]:

print(df.ft.columns.values.tolist())

['@id_DOG', 'Place', 'DogName', 'Box', 'Rug', 'Weight', 'StartPrice', 'Handicap', 'Margin1', 'Margin2', 'PIR', 'Checks', 'Comments', 'SplitMargin', 'RunTime', 'Prizemoney', 'RaceId', 'TrainerId', 'TrainerName', '@id_RACE', 'RaceNum', 'RaceName', 'RaceTime', 'Distance', 'RaceGrade', 'Track', 'date', 'Event_Dt']

In [13]:
df.ft.sort_values(by = ['@id_DOG', 'DogName', 'Event_Dt'], inplace = True)

In [14]:

df.ft[df.ft.DogName.isin(['FOURTH DIMENTION'])]

,@id_DOG,Place,DogName,Box,Rug,Weight,StartPrice,Handicap,Margin1,Margin2,PIR,Checks,Comments,SplitMargin,RunTime,Prizemoney,RaceId,TrainerId,TrainerName,@id_RACE,RaceNum,RaceName,RaceTime,Distance,RaceGrade,Track,date,Event_Dt
996,114244064,3,FOURTH DIMENTION,6.0,6,33.6,$79.30,NaN,8.90,1.39,M/84,0,NaN,8.53,23.29,NaN,747034592,131578,P Pollutro,747034592,4,KHANS HOSPITALITY SERVICES,06:57PM,400m,Grade 5,Warragul,02 Jan 22,2022-01-02
4698,114244064,6,FOURTH DIMENTION,2.0,2,33.8,$10.60,NaN,7.66,0.81,M/37,5,NaN,8.56,23.31,NaN,748659833,131578,P Pollutro,748659833,5,FIND US ON FACEBOOK (250+) HT2,04:47PM,400m,S/E Heat,Warragul,06 Jan 22,2022-01-06
10817,114244064,6,FOURTH DIMENTION,8.0,8,33.9,$23.20,NaN,7.43,1.10,S/86,4,NaN,8.82,23.35,0.0,750611239,131578,P Pollutro,750611239,4,BLUE STREAM PICTURES,04:17PM,400m,Grade 5 T3,Warragul,13 Jan 22,2022-01-13
14882,114244064,5,FOURTH DIMENTION,3.0,3,33.2,$20.60,NaN,6.37,0.67,M/655,0,NaN,3.85,22.79,NaN,751682368,131578,P Pollutro,751682368,10,HOOKED ON SCOTCH AT STUD HT5 (275+ RANK),06:08PM,395m,S/E Heat,Traralgon,17 Jan 22,2022-01-17
21089,114244064,2,FOURTH DIMENTION,3.0,3,33.5,$13.30,NaN,6.50,6.50,M/676,0,NaN,3.90,22.62,NaN,753739485,131578,P Pollutro,753739485,10,BRIDGES ON ARGYLE TRARALGON,05:07PM,395m,Grade 5 T3,Traralgon,24 Jan 22,2022-01-24
23687,114244064,1,FOURTH DIMENTION,2.0,2,33.4,$2.60F,NaN,0.81,NaN,M/22,0,NaN,8.68,23.21,NaN,754810613,131578,P Pollutro,754810613,12,SHIMA SHINE AT STUD,06:42PM,400m,Grade 5 T3,Warragul,27 Jan 22,2022-01-27
27357,114244064,6,FOURTH DIMENTION,8.0,8,33.5,$6.00,NaN,10.38,1.89,M/466,4,NaN,3.77,23.11,NaN,755821129,131578,P Pollutro,755821129,8,BRIDGES ON ARGYLE TRARALGON,04:59PM,395m,Grade 5 T3,Traralgon,31 Jan 22,2022-01-31
51930,114244064,6,FOURTH DIMENTION,7.0,7,33.0,$22.50,NaN,19.62,13.49,S/66,0,NaN,7.07,21.40,NaN,764270502,131578,P Pollutro,764270502,12,HARD STYLE RICO AT STUD,06:11PM,350m,Grade 5 T3,Traralgon,28 Feb 22,2022-02-28

In [15]:

# ADDITIONAL VARIABLES
gpbylevel = ['@id_DOG']

# Distance and Speed in each race
df.ft['x_dist'] = df.ft['Distance'].apply(lambda x : x.replace('m','')).astype(int)
df.ft['speed'] = (df.ft['x_dist'] / df.ft['RunTime'])*1000

# Average Speed until prev race
## CAN USE THIS CODE TO GET AVERAGE SPEED L 1/3/5/7/10 races
df.ft['df_avg_speed_prev'] = df.ft.groupby(gpbylevel)['speed'].expanding().mean().shift(1).reset_index().set_index('level_1').rename(columns = {'speed':'avg_speed_prev'})['avg_speed_prev']
# 2 Min Runtime

# Flag for getting a total race count
df.ft['f_1'] = 1

# Total Races
df.ft['x_races_tot'] = df.ft.groupby(gpbylevel).cumcount()

In [16]:
# Fix the Place Variable

#print(df.ft.Place.value_counts())

df.ft['position'] = df.ft.Place.apply(lambda x : x.replace("=","") if x in ['1=','2=','3=','4=','5=','6=','7=','8='] else x)

#print(df.ft.position.value_counts())

In [17]:
df.ft.columns.values.tolist()

['@id_DOG',
 'Place',
 'DogName',
 'Box',
 'Rug',
 'Weight',
 'StartPrice',
 'Handicap',
 'Margin1',
 'Margin2',
 'PIR',
 'Checks',
 'Comments',
 'SplitMargin',
 'RunTime',
 'Prizemoney',
 'RaceId',
 'TrainerId',
 'TrainerName',
 '@id_RACE',
 'RaceNum',
 'RaceName',
 'RaceTime',
 'Distance',
 'RaceGrade',
 'Track',
 'date',
 'Event_Dt',
 'x_dist',
 'speed',
 'df_avg_speed_prev',
 'f_1',
 'x_races_tot',
 'position']

In [19]:

df.ft[df.ft.DogName.isin(['FOURTH DIMENTION'])]
#df.ft[df.ft.DogName.isin(['BARRA BABE'])]

,@id_DOG,Place,DogName,Box,Rug,Weight,StartPrice,Handicap,Margin1,Margin2,PIR,Checks,Comments,SplitMargin,RunTime,Prizemoney,RaceId,TrainerId,TrainerName,@id_RACE,RaceNum,RaceName,RaceTime,Distance,RaceGrade,Track,date,Event_Dt,x_dist,speed,df_avg_speed_prev,f_1,x_races_tot,position
996,114244064,3,FOURTH DIMENTION,6.0,6,33.6,$79.30,NaN,8.90,1.39,M/84,0,NaN,8.53,23.29,NaN,747034592,131578,P Pollutro,747034592,4,KHANS HOSPITALITY SERVICES,06:57PM,400m,Grade 5,Warragul,02 Jan 22,2022-01-02,400,17174.753113,NaN,1,0,3
4698,114244064,6,FOURTH DIMENTION,2.0,2,33.8,$10.60,NaN,7.66,0.81,M/37,5,NaN,8.56,23.31,NaN,748659833,131578,P Pollutro,748659833,5,FIND US ON FACEBOOK (250+) HT2,04:47PM,400m,S/E Heat,Warragul,06 Jan 22,2022-01-06,400,17160.017160,17174.753113,1,1,6
10817,114244064,6,FOURTH DIMENTION,8.0,8,33.9,$23.20,NaN,7.43,1.10,S/86,4,NaN,8.82,23.35,0.0,750611239,131578,P Pollutro,750611239,4,BLUE STREAM PICTURES,04:17PM,400m,Grade 5 T3,Warragul,13 Jan 22,2022-01-13,400,17130.620985,17167.385136,1,2,6
14882,114244064,5,FOURTH DIMENTION,3.0,3,33.2,$20.60,NaN,6.37,0.67,M/655,0,NaN,3.85,22.79,NaN,751682368,131578,P Pollutro,751682368,10,HOOKED ON SCOTCH AT STUD HT5 (275+ RANK),06:08PM,395m,S/E Heat,Traralgon,17 Jan 22,2022-01-17,395,17332.163229,17155.130419,1,3,5
21089,114244064,2,FOURTH DIMENTION,3.0,3,33.5,$13.30,NaN,6.50,6.50,M/676,0,NaN,3.90,22.62,NaN,753739485,131578,P Pollutro,753739485,10,BRIDGES ON ARGYLE TRARALGON,05:07PM,395m,Grade 5 T3,Traralgon,24 Jan 22,2022-01-24,395,17462.422635,17199.388622,1,4,2
23687,114244064,1,FOURTH DIMENTION,2.0,2,33.4,$2.60F,NaN,0.81,NaN,M/22,0,NaN,8.68,23.21,NaN,754810613,131578,P Pollutro,754810613,12,SHIMA SHINE AT STUD,06:42PM,400m,Grade 5 T3,Warragul,27 Jan 22,2022-01-27,400,17233.950883,17251.995424,1,5,1
27357,114244064,6,FOURTH DIMENTION,8.0,8,33.5,$6.00,NaN,10.38,1.89,M/466,4,NaN,3.77,23.11,NaN,755821129,131578,P Pollutro,755821129,8,BRIDGES ON ARGYLE TRARALGON,04:59PM,395m,Grade 5 T3,Traralgon,31 Jan 22,2022-01-31,395,17092.167893,17248.988001,1,6,6
51930,114244064,6,FOURTH DIMENTION,7.0,7,33.0,$22.50,NaN,19.62,13.49,S/66,0,NaN,7.07,21.40,NaN,764270502,131578,P Pollutro,764270502,12,HARD STYLE RICO AT STUD,06:11PM,350m,Grade 5 T3,Traralgon,28 Feb 22,2022-02-28,350,16355.140187,17226.585128,1,7,6

In [20]:


df.ft.agg({'TrainerName':'nunique', 'Track':'nunique', 'DogName':'nunique'})

TrainerName     3098
Track             57
DogName        17682
dtype: int64

In [21]:
pd.set_option('display.max_rows', 50)

In [22]:

tracks_unq = df.ft.Track.unique().tolist()

print(type(tracks_unq))

tracks_unq.sort()

print(tracks_unq)

<class 'list'>
['Albion Park', 'Angle Park', 'Ballarat', 'Bathurst', 'Bendigo', 'Broken Hill', 'Bulli', 'Bundaberg', 'Canberra', 'Cannington', 'Capalaba', 'Casino', 'Coonamble', 'Cranbourne', 'Dapto', 'Darwin', 'Devonport', 'Dubbo', 'Gawler', 'Geelong', 'Gosford', 'Goulburn', 'Grafton', 'Gunnedah', 'Healesville', 'Hobart', 'Horsham', 'Ipswich', 'Kempsey', 'Launceston', 'Lismore', 'Lithgow', 'Maitland', 'Mandurah', 'Meadows', 'Moree', 'Mount Gambier', 'Murray Bridge', 'Northam', 'Nowra', 'Potts Park', 'Richmond', 'Rockhampton', 'Sale', 'Sandown Park', 'Shepparton', 'Tamworth', 'Taree', 'Temora', 'The Gardens', 'Townsville', 'Traralgon', 'Wagga', 'Warragul', 'Warrnambool', 'Wentworth Park', 'Young']

In [23]:

print(datetime.now().date())

2022-10-18

In [24]:

# Need Variables :
# are characteristics of a race 
# are characteristics of the dog
# characteristics of a the dog and the race combined

In [25]:

## SHOULD BE THE LAST STEP OR a Separate Code
#categorical_col_for_dummification = ['Track','TrainerName']
#categorical_col_for_dummification = ['TrainerName']

#df.ft1 = pd.get_dummies(df.ft, columns = categorical_col_for_dummification)
#df.ft1 = pd.get_dummies(df.ft, columns = categorical_col_for_dummification)
df.ft1 = df.ft.copy()

# removed the Categorical columns from the original datast, adds the dummy variables, creates a new dataset

print(df.ft1.columns)
# df.ft1 = df.ft with dummy variables for Track

print()

Index(['@id_DOG', 'Place', 'DogName', 'Box', 'Rug', 'Weight', 'StartPrice', 'Handicap', 'Margin1', 'Margin2', 'PIR', 'Checks', 'Comments', 'SplitMargin', 'RunTime', 'Prizemoney', 'RaceId',
       'TrainerId', 'TrainerName', '@id_RACE', 'RaceNum', 'RaceName', 'RaceTime', 'Distance', 'RaceGrade', 'Track', 'date', 'Event_Dt', 'x_dist', 'speed', 'df_avg_speed_prev', 'f_1', 'x_races_tot',
       'position'],
      dtype='object')

In [26]:

df.ft1

,@id_DOG,Place,DogName,Box,Rug,Weight,StartPrice,Handicap,Margin1,Margin2,PIR,Checks,Comments,SplitMargin,RunTime,Prizemoney,RaceId,TrainerId,TrainerName,@id_RACE,RaceNum,RaceName,RaceTime,Distance,RaceGrade,Track,date,Event_Dt,x_dist,speed,df_avg_speed_prev,f_1,x_races_tot,position
996,114244064,3,FOURTH DIMENTION,6.0,6,33.6,$79.30,NaN,8.90,1.39,M/84,0,NaN,8.53,23.29,NaN,747034592,131578,P Pollutro,747034592,4,KHANS HOSPITALITY SERVICES,06:57PM,400m,Grade 5,Warragul,02 Jan 22,2022-01-02,400,17174.753113,NaN,1,0,3
4698,114244064,6,FOURTH DIMENTION,2.0,2,33.8,$10.60,NaN,7.66,0.81,M/37,5,NaN,8.56,23.31,NaN,748659833,131578,P Pollutro,748659833,5,FIND US ON FACEBOOK (250+) HT2,04:47PM,400m,S/E Heat,Warragul,06 Jan 22,2022-01-06,400,17160.017160,17174.753113,1,1,6
10817,114244064,6,FOURTH DIMENTION,8.0,8,33.9,$23.20,NaN,7.43,1.10,S/86,4,NaN,8.82,23.35,0.0,750611239,131578,P Pollutro,750611239,4,BLUE STREAM PICTURES,04:17PM,400m,Grade 5 T3,Warragul,13 Jan 22,2022-01-13,400,17130.620985,17167.385136,1,2,6
14882,114244064,5,FOURTH DIMENTION,3.0,3,33.2,$20.60,NaN,6.37,0.67,M/655,0,NaN,3.85,22.79,NaN,751682368,131578,P Pollutro,751682368,10,HOOKED ON SCOTCH AT STUD HT5 (275+ RANK),06:08PM,395m,S/E Heat,Traralgon,17 Jan 22,2022-01-17,395,17332.163229,17155.130419,1,3,5
21089,114244064,2,FOURTH DIMENTION,3.0,3,33.5,$13.30,NaN,6.50,6.50,M/676,0,NaN,3.90,22.62,NaN,753739485,131578,P Pollutro,753739485,10,BRIDGES ON ARGYLE TRARALGON,05:07PM,395m,Grade 5 T3,Traralgon,24 Jan 22,2022-01-24,395,17462.422635,17199.388622,1,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38331,1858820014,6,HOLD YOUR FIRE,8.0,8,31.1,$1.00F,NaN,10.50,4.57,NaN,0,NaN,NaN,21.37,0.0,757788330,34750,A Roche,757788330,5,CARPET COURT,02:20PM,350m,Mixed 4/5,Kempsey,12 Feb 22,2022-02-12,350,16378.100140,16574.115362,1,6,6
231442,2071650020,8,NO TELL CODE,4.0,4,23.6,$101.00,NaN,10.25,1.00,88,0,88,5.68,17.97,0.0,824847041,30142,P Vallario,824847041,9,WATCH LIVE ON SPORTSBET MASTERS,10:11PM,297m,Masters Grade 1/2,Dapto,15 Sep 22,2022-09-15,297,16527.545910,16546.113188,1,0,8
55434,2112520004,5,BARRA BABE,4.0,4,27.2,$1.00F,NaN,12.00,7.14,NaN,0,NaN,NaN,18.68,0.0,765398280,91337,M Moore,765398280,6,BURKE & WILLIS MOTOR INN,03:25PM,302m,Grade 5,Moree,05 Mar 22,2022-03-05,302,16167.023555,16527.545910,1,0,5
79766,2112520004,5,BARRA BABE,7.0,7,27.1,$1.00F,NaN,13.25,3.43,NaN,0,NaN,NaN,18.67,0.0,771199423,91337,M Moore,771199423,7,SOUTH MOREE BUTCHERY,03:45PM,302m,Grade 5,Moree,02 Apr 22,2022-04-02,302,16175.682914,16167.023555,1,1,5
86509,2112520004,6,BARRA BABE,6.0,6,27.1,$8.00,NaN,17.25,4.71,NaN,0,NaN,NaN,19.13,0.0,771810849,91337,M Moore,771810849,6,LADBROKES BLENDED MULTI,03:25PM,302m,Grade 5,Moree,09 Apr 22,2022-04-09,302,15786.722426,16171.353234,1,2,6

In [27]:

#keep_cols_for_export = ['@id_DOG', 'DogName', '@id_RACE','RaceName','Track','RaceGrade','Distance','TrainerName','RunTime','Place','x_races_tot']

# 'TrainerName', 'Track' have been dummified
cols_for_drop = ['Box','Rug','Weight','StartPrice','Handicap','Margin1','Margin2','PIR','Checks','Comments','SplitMargin','Prizemoney','RaceId','TrainerId','RaceTime','Distance','RaceGrade','date', 'Event_Dt', 'f_1','speed',\
                'Place']

todaydt = datetime.now().date()
exp_fname = f'raw_dataset_{todaydt}.csv'

exp_ds = df.ft1.drop(columns = cols_for_drop).rename(columns = { 'RunTime' : 'y_runtime' })

In [28]:

print(exp_ds.columns.values.tolist())

['@id_DOG', 'DogName', 'y_runtime', 'TrainerName', '@id_RACE', 'RaceNum', 'RaceName', 'Track', 'x_dist', 'df_avg_speed_prev', 'x_races_tot', 'position']

In [29]:

exp_ds

           @id_DOG           DogName  y_runtime TrainerName   @id_RACE  RaceNum                                  RaceName      Track  x_dist  df_avg_speed_prev  x_races_tot position
996      114244064  FOURTH DIMENTION      23.29  P Pollutro  747034592        4                KHANS HOSPITALITY SERVICES   Warragul     400                NaN            0        3
4698     114244064  FOURTH DIMENTION      23.31  P Pollutro  748659833        5            FIND US ON FACEBOOK (250+) HT2   Warragul     400       17174.753113            1        6
10817    114244064  FOURTH DIMENTION      23.35  P Pollutro  750611239        4                      BLUE STREAM PICTURES   Warragul     400       17167.385136            2        6
14882    114244064  FOURTH DIMENTION      22.79  P Pollutro  751682368       10  HOOKED ON SCOTCH AT STUD HT5 (275+ RANK)  Traralgon     395       17155.130419            3        5
21089    114244064  FOURTH DIMENTION      22.62  P Pollutro  753739485       10               BRIDGES ON ARGYLE TRARALGON  Traralgon     395       17199.388622            4        2
...            ...               ...        ...         ...        ...      ...                                       ...        ...     ...                ...          ...      ...
38331   1858820014    HOLD YOUR FIRE      21.37     A Roche  757788330        5                              CARPET COURT    Kempsey     350       16574.115362            6        6
231442  2071650020      NO TELL CODE      17.97  P Vallario  824847041        9           WATCH LIVE ON SPORTSBET MASTERS      Dapto     297       16546.113188            0        8
55434   2112520004        BARRA BABE      18.68     M Moore  765398280        6                  BURKE & WILLIS MOTOR INN      Moree     302       16527.545910            0        5
79766   2112520004        BARRA BABE      18.67     M Moore  771199423        7                      SOUTH MOREE BUTCHERY      Moree     302       16167.023555            1        5
86509   2112520004        BARRA BABE      19.13     M Moore  771810849        6                   LADBROKES BLENDED MULTI      Moree     302       16171.353234            2        6

[245827 rows x 12 columns]

In [30]:

exp_ds.to_csv(f'{fileloc}/{exp_fname}', index = False)